// @import './light-theme/general.config';
// theme.scss
$light-text-color: $white;
$dark-text-color: $black;
$light-bg: $white;
$dark-bg: $black;

// theme-config.scss
$themes: (
  light: (
    bg-color: $light-bg,
    text-color: $dark-text-color
  ),
  dark: (
    bg-color: $dark-bg,
    text-color: $light-text-color
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
