@use 'general.config';
:root {
  --corporative-color: #262e80;
  --primary-bg: #fff;
  --secondary-bg: #f2f8ff;
  --primary-txt: black;
}

[data-theme='dark'] {
  --corporative-color: #ffffff;
  --primary-bg: #262843;
  --secondary-bg: linear-gradient(140deg, #252745 0%, #1b1b31 100%);
  --primary-txt: white;
}

a {
  font-size: 1rem;
  color: var(--corporative-color);
  font-weight: 700;
}

a:hover {
  color: #fdcf00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5e69db !important;
  border-color: #5e69db !important;
}

.redirect-link,
.back-link,
.alternative-link {
  width: 100%;
  color: var(--corporative-color);
}

.redirect-link:hover,
.back-link:hover,
.alternative-link:hover {
  color: var(--corporative-color);
}

.blue-input {
  background: var(--secondary-bg);
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.blue-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: var(--secondary-bg);
}

.auth-input {
  background: transparent;
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.auth-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: transparent;
}

.chevron-right,
.chevron-left {
  margin-top: 0.25rem !important;
  background: #5e84db;
  color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn {
  margin: 1rem 0;
  background: #262e80;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.primary-btn:hover {
  background: #262e80;
  color: var(--primary-bg);
}

.secondary-btn {
  margin: 1rem 0;
  background: #777;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.secondary-btn:hover {
  background: #777;
  color: var(--primary-bg);
}

.disabled-btn {
  margin: 1rem 0;
  border-radius: 8px;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: auto !important;
  opacity: 0.3;
}

:root {
  --corporative-color: #262e80;
  --primary-bg: #fff;
  --secondary-bg: #f2f8ff;
  --primary-txt: black;
}

[data-theme='dark'] {
  --corporative-color: #ffffff;
  --primary-bg: #262843;
  --secondary-bg: linear-gradient(140deg, #252745 0%, #1b1b31 100%);
  --primary-txt: white;
}

a {
  font-size: 1rem;
  color: var(--corporative-color);
  font-weight: 700;
}

a:hover {
  color: #fdcf00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5e69db !important;
  border-color: #5e69db !important;
}

.redirect-link,
.back-link,
.alternative-link {
  width: 100%;
  color: var(--corporative-color);
}

.redirect-link:hover,
.back-link:hover,
.alternative-link:hover {
  color: var(--corporative-color);
}

.blue-input {
  background: var(--secondary-bg);
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.blue-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: var(--secondary-bg);
}

.auth-input {
  background: transparent;
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.auth-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: transparent;
}

.chevron-right,
.chevron-left {
  margin-top: 0.25rem !important;
  background: #5e84db;
  color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn {
  margin: 1rem 0;
  background: #262e80;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.primary-btn:hover {
  background: #262e80;
  color: var(--primary-bg);
}

.secondary-btn {
  margin: 1rem 0;
  background: #777;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.secondary-btn:hover {
  background: #777;
  color: var(--primary-bg);
}

.disabled-btn {
  margin: 1rem 0;
  border-radius: 8px;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: auto !important;
  opacity: 0.3;
}

@media only screen and (max-width: 750px) {
  :root p {
    font-size: 0.5rem;
  }
  :root h1 {
    font-size: 1.1rem;
  }
  :root h2 {
    font-size: 0.9rem;
    font-weight: 700;
  }
  :root h3 {
    font-size: 0.9rem;
  }
  :root h4 {
    font-size: 0.7rem;
  }
  :root a {
    font-size: 0.7rem;
  }
}

.action-btns {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  height: 25vh;
}

.btns-container,
.btns-container-description,
.btns-container-details,
.btns-container-options {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btns-container > *,
.btns-container-description > *,
.btns-container-details > *,
.btns-container-options > * {
  margin-left: 1rem;
}

.btns-container .success-btn,
.btns-container-description .success-btn,
.btns-container-details .success-btn,
.btns-container-options .success-btn {
  position: absolute;
  right: 2rem;
}

.success-btn,
.confirm-btn,
.reset-btn,
.cancel-btn,
.selector,
.danger-btn,
.delete-btn,
.warning-btn {
  padding: 4px 12px;
  border-radius: 8px;
  color: var(--primary-bg);
  width: auto;
}

.success-btn {
  background: #228b22;
}

.success-btn:hover, .success-btn:focus {
  background: #228b22;
  color: var(--primary-bg);
}

.confirm-btn {
  background: #5e69db;
}

.confirm-btn:hover, .confirm-btn:focus {
  background: #5e69db;
  color: var(--primary-bg);
}

.reset-btn {
  background: #bfbfbf;
}

.reset-btn:hover {
  background: #bfbfbf;
  color: var(--primary-bg);
}

.danger-btn,
.delete-btn {
  background: #dd0a54;
}

.danger-btn:hover, .danger-btn:focus,
.delete-btn:hover,
.delete-btn:focus {
  background: #dd0a54;
  color: var(--primary-bg);
}

.warning-btn {
  background: #ffd77c;
}

.warning-btn:hover {
  background: #ffd77c;
  color: var(--primary-bg);
}

.cancel-btn {
  background: #bfbfbf;
}

.cancel-btn:hover, .cancel-btn:focus {
  background: #bfbfbf;
  color: var(--primary-bg);
}

.transparent-btn {
  margin: 1rem 0;
  background: transparent;
  border-radius: 8px;
  color: #262e80;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.transparent-btn:hover {
  background: transparent;
  color: #262e80;
}

@media only screen and (max-width: 750px) {
  .action-btns,
  .btns-container,
  .btns-container-options,
  .btns-container-description,
  .btns-container-details {
    font-size: 0.75rem;
    padding: 0.6rem 1.3rem;
  }
  .action-btns .success-btn,
  .btns-container .success-btn,
  .btns-container-options .success-btn,
  .btns-container-description .success-btn,
  .btns-container-details .success-btn {
    margin-left: 0.9rem;
  }
  .form {
    padding: 1rem 0;
  }
  .btns-container,
  .btns-container-options,
  .btns-container-description,
  .btns-container-details {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100% !important;
  }
  .btns-container > *,
  .btns-container-options > *,
  .btns-container-description > *,
  .btns-container-details > * {
    margin-left: 0.3rem;
  }
  .btns-container .success-btn,
  .btns-container-options .success-btn,
  .btns-container-description .success-btn,
  .btns-container-details .success-btn {
    position: static;
  }
}
/*# sourceMappingURL=action-btns.css.map */