@use 'general.config';
@import 'general.config';

.action-btns {
  display: grid;
  row-gap: 1rem;
  height: 25vh;
}

// buttons' containers.
.btns-container,
.btns-container-description,
.btns-container-details,
.btns-container-options {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  & > * {
    margin-left: 1rem;
  }
  .success-btn {
    position: absolute;
    right: 2rem;
  }
}

@mixin action-btn {
  padding: 4px 12px;
  border-radius: 8px;
  color: $primary-bg;
  width: auto;
}

.redirection-link,
.success-btn,
.confirm-btn,
.reset-btn,
.cancel-btn,
.danger-btn,
.delete-btn,
.warning-btn {
  @include action-btn;
}

.success-btn,
.redirection-link {
  min-width: 170px;
  background: $green;
  &:hover,
  &:focus {
    background: $green;
    color: $primary-bg;
  }
}

.showVisibleCol-btn {
  max-width: 170px !important;
  border-radius: 8% !important;
  background: $green;
  color: #fff;
  &:hover,
  &:focus {
    background: $green;
  }
}
.confirm-btn {
  background: $light-primary;
  &:hover,
  &:focus {
    background: $light-primary;
    color: $primary-bg;
  }
}
.reset-btn {
  background: $ash-gray;
  &:hover {
    background: $ash-gray;
    color: $primary-bg;
  }
}

.danger-btn,
.delete-btn {
  min-width: 170px;
  background: $red;
  &:hover,
  &:focus {
    background: $red;
    color: $primary-bg;
  }
}

.warning-btn {
  min-width: 170px;
  background: $yellow;
  &:hover,
  &:focus {
    background: $yellow;
    color: $primary-bg;
  }
}

.progress-btn {
  min-width: 170px;
  background: $light-blue;
  color: #fff !important;
  border-radius: 8px;
  &:hover,
  &:focus {
    background: $light-blue;
    color: $primary-bg;
    color: #fff !important;
  }
}

//need for buttons
.cancel-btn {
  min-width: 170px;
  color: #fff !important;
  background: $red !important;
  &:hover,
  &:focus {
    background: $red !important;
    color: $primary-bg;
  }
}

.transparent-btn {
  @include custom-btn-styles($transparent, $primary);
}

// Mobile screen sizes

@media only screen and (max-width: 750px) {
  .action-btns,
  .btns-container,
  .btns-container-options,
  .btns-container-description,
  .btns-container-details {
    font-size: $font-small;
    padding: 0.6rem 1.3rem;
    .success-btn {
      margin-left: 0.9rem;
    }
  }

  .form {
    padding: 1rem 0;
  }

  .btns-container,
  .btns-container-options,
  .btns-container-description,
  .btns-container-details {
    justify-content: space-between;
    width: 100% !important;
    & > * {
      margin-left: 0.3rem;
    }
    .success-btn {
      position: static;
    }
  }
} ;
