@import 'general.config';

.supplier-one {
  background: $light-primary;
  color: $white;
  border-radius: 5px;
  &:hover {
    background: $primary;
    color: $white;
  }
}

.listings-advanced-search {
  .ant-drawer-content-wrapper {
    width: 530px !important;
  }
}

.advanced-search-form {
  height: auto;
  [title="Min source price"],
  [title="Max source price"],
  [title="Min Profit"], 
  [title="Max Profit"],
  [title="Title"], 
  [title="Order By"]
  // [title="Asin"],
  // [title="Source"],
  // [title="Sku"],
  // [title="Cost Price"],
  // [title="Sell Price"]
  {
    font-weight: $bold;
  }
  .catalog-filters-inputs,
  .listings-search-inputs,
  .extra-options,
  .check-boxes {
    -moz-column-count: 2;
    -moz-column-gap: 2rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 2rem;
    column-count: 2;
    column-gap: 2rem;
    margin: 1rem 0;
  }

  .listings-search-inputs .sell-price-section,
  .cost-price-section {
    display: flex;
    column-gap: 1rem;
  }

  .extra-options .out-of-stock-section,
  .unsold-days-section,
  .quantiy-section {
    display: flex;
    column-gap: 1rem;
  }

  .prime-options,
  .price-options {
    margin: 1rem 0;
  }
  .checkboxes {
    display: flex;
    .checkbox {
      color: $primary;
    }
  }

  .filters-section {
    display: flex;
    justify-content: flex-end;
  }
}

.clear-filters {
  background: transparent;
  color: $primary;
  &:hover {
    color: $primary;
  }
}

.date-picker {
  box-shadow: 0px 3px 6px #00000017;
  border-radius: 10px;
  background: $mild-light-blue;
  border: none !important;
  outline: none !important;
  &:hover {
    border: none !important;
    outline: none !important;
  }
}

// Mobile screen size

@media only screen and (max-width: 750px) {
  .listings-advanced-search {
    .ant-drawer-content-wrapper {
      width: 378px !important;
    }
  }
  .advanced-search-form {
    width: auto !important;
    margin: 2rem auto 0 auto !important;
    .inputs {
      -moz-column-count: initial !important;
      -webkit-column-count: initial !important;
      column-count: initial !important;
      margin: 0 auto !important;
    }
  }
}
