:root {
  --corporative-color: #262e80;
  --primary-bg: #fff;
  --secondary-bg: #f2f8ff;
  --primary-txt: black;
}

[data-theme='dark'] {
  --corporative-color: #ffffff;
  --primary-bg: #262843;
  --secondary-bg: linear-gradient(140deg, #252745 0%, #1b1b31 100%);
  --primary-txt: white;
}

a {
  font-size: 1rem;
  color: var(--corporative-color);
  font-weight: 700;
}

a:hover {
  color: #fdcf00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5e69db !important;
  border-color: #5e69db !important;
}

.redirect-link,
.back-link,
.alternative-link {
  width: 100%;
  color: var(--corporative-color);
}

.redirect-link:hover,
.back-link:hover,
.alternative-link:hover {
  color: var(--corporative-color);
}

.blue-input {
  background: var(--secondary-bg);
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.blue-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: var(--secondary-bg);
}

.auth-input {
  background: transparent;
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.auth-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: transparent;
}

.chevron-right,
.chevron-left {
  margin-top: 0.25rem !important;
  background: #5e84db;
  color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn {
  margin: 1rem 0;
  background: #262e80;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.primary-btn:hover {
  background: #262e80;
  color: var(--primary-bg);
}

.secondary-btn {
  margin: 1rem 0;
  background: #777;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.secondary-btn:hover {
  background: #777;
  color: var(--primary-bg);
}

.disabled-btn {
  margin: 1rem 0;
  border-radius: 8px;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: auto !important;
  opacity: 0.3;
}

:root {
  --corporative-color: #262e80;
  --primary-bg: #fff;
  --secondary-bg: #f2f8ff;
  --primary-txt: black;
}

[data-theme='dark'] {
  --corporative-color: #ffffff;
  --primary-bg: #262843;
  --secondary-bg: linear-gradient(140deg, #252745 0%, #1b1b31 100%);
  --primary-txt: white;
}

a {
  font-size: 1rem;
  color: var(--corporative-color);
  font-weight: 700;
}

a:hover {
  color: #fdcf00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5e69db !important;
  border-color: #5e69db !important;
}

.redirect-link,
.back-link,
.alternative-link {
  width: 100%;
  color: var(--corporative-color);
}

.redirect-link:hover,
.back-link:hover,
.alternative-link:hover {
  color: var(--corporative-color);
}

.blue-input {
  background: var(--secondary-bg);
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.blue-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: var(--secondary-bg);
}

.auth-input {
  background: transparent;
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.auth-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: transparent;
}

.chevron-right,
.chevron-left {
  margin-top: 0.25rem !important;
  background: #5e84db;
  color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn {
  margin: 1rem 0;
  background: #262e80;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.primary-btn:hover {
  background: #262e80;
  color: var(--primary-bg);
}

.secondary-btn {
  margin: 1rem 0;
  background: #777;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.secondary-btn:hover {
  background: #777;
  color: var(--primary-bg);
}

.disabled-btn {
  margin: 1rem 0;
  border-radius: 8px;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: auto !important;
  opacity: 0.3;
}

@media only screen and (max-width: 750px) {
  :root p {
    font-size: 0.5rem;
  }
  :root h1 {
    font-size: 1.1rem;
  }
  :root h2 {
    font-size: 0.9rem;
    font-weight: 700;
  }
  :root h3 {
    font-size: 0.9rem;
  }
  :root h4 {
    font-size: 0.7rem;
  }
  :root a {
    font-size: 0.7rem;
  }
}

.supplier-one {
  background: #5e69db;
  color: var(--primary-bg);
  border-radius: 5px;
}

.supplier-one:hover {
  background: var(--corporative-color);
  color: var(--primary-bg);
}

.listings-advanced-search .ant-drawer-content-wrapper {
  width: 530px !important;
}

.advanced-search-form {
  height: auto;
}

.advanced-search-form [title="Min source price"],
.advanced-search-form [title="Max source price"],
.advanced-search-form [title="Min Profit"],
.advanced-search-form [title="Max Profit"],
.advanced-search-form [title="Title"],
.advanced-search-form [title="Order By"] {
  font-weight: 700;
}

.advanced-search-form .catalog-filters-inputs,
.advanced-search-form .listings-search-inputs,
.advanced-search-form .extra-options,
.advanced-search-form .check-boxes {
  -moz-column-count: 2;
  -moz-column-gap: 2rem;
  -webkit-column-count: 2;
  -webkit-column-gap: 2rem;
  column-count: 2;
  column-gap: 2rem;
  margin: 1rem 0;
}

.advanced-search-form .listings-search-inputs .sell-price-section,
.advanced-search-form .cost-price-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.advanced-search-form .extra-options .out-of-stock-section,
.advanced-search-form .unsold-days-section,
.advanced-search-form .quantiy-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.advanced-search-form .prime-options,
.advanced-search-form .price-options {
  margin: 1rem 0;
}

.advanced-search-form .checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advanced-search-form .checkboxes .checkbox {
  color: var(--corporative-color);
}

.advanced-search-form .filters-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.clear-filters {
  background: transparent;
  color: var(--corporative-color);
}

.clear-filters:hover {
  color: var(--corporative-color);
}

.date-picker {
  -webkit-box-shadow: 0px 3px 6px #00000017;
          box-shadow: 0px 3px 6px #00000017;
  border-radius: 10px;
  background: var(--secondary-bg);
  border: none !important;
  outline: none !important;
}

.date-picker:hover {
  border: none !important;
  outline: none !important;
}

@media only screen and (max-width: 750px) {
  .listings-advanced-search .ant-drawer-content-wrapper {
    width: 378px !important;
  }
  .advanced-search-form {
    width: auto !important;
    margin: 2rem auto 0 auto !important;
  }
  .advanced-search-form .inputs {
    -webkit-column-count: initial !important;
    column-count: initial !important;
    margin: 0 auto !important;
  }
}
/*# sourceMappingURL=advanced-search.css.map */