@import 'general.config';

.affiliate-dashboard-container {
  .stat-content {
    font-weight: bold;
  }
  .first-section {
    display: flex;
    .pie-chart {
      max-width: 20%;
      padding: $spacer;
    }
  }
  .affiliate-dashboard {
    width: 100%;
    background: $primary-bg;
    border-radius: $spacer;

    .month-selector {
      margin: $spacer;
    }
    .general-stats {
      margin-top: $spacer;
      padding: 1rem;
      display: flex;
      width: 100%;
      .general-stat {
        background: $dark-blue;
        display: grid;
        align-items: center;
        box-shadow: rgba(149, 157, 165, 0.2) 3px 3px 12px;
        border-radius: $spacer;
        padding: $spacer;
        margin: $spacer;
        h3,
        h4,
        h5 {
          color: white;
        }
      }
    }

    .info-section {
      .stats {
        display: flex;

        .stat {
          box-shadow: rgba(149, 157, 165, 0.2) 3px 3px 12px;
          border-radius: $spacer;
          background: $primary-bg;
          margin-left: $spacer;
          padding: $spacer;
          .stat-header {
            display: flex;
            span {
              margin-left: 20px;
            }
          }
        }
      }
      .table-stats {
        margin-top: 1rem;
        .data-table {
          .totalRevenue {
            color: $green;
            font-weight: bold;
          }
        }
      }
    }
  }
}
