@import 'general.config';

@mixin auto-ordering {
  .auto-ordering {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .switch {
      margin-top: 0.8rem;
    }
  }
 

  
  .select-account {
    width: 50%;
    border: 2px solid red;
    display: flex; 
    flex-direction: column;
    align-items: flex-start !important;
    .ant-select-selector {
       border: 2px solid blue;
    }
    .account-config {
      font-weight: bold;
    }
    .account-alias {
      margin-left: 1rem;
      color: $light-primary;
    }
  }

  .account-details {
    margin-top: 2rem;
    .form {
      margin: 0 auto;
      padding: 0 2rem 0 0;

      .copy-icon {
        position: absolute;
        right: 0.1rem;
        cursor: pointer;
        margin-top: 0.3rem;
      }
      .platfrom-creds {
        display: flex;
        justify-content: space-evenly;

        & > * {
          margin-left: 1rem;
        }
      }

      .account-form-input {
        background: $secondary-bg !important;
        border-radius: 10px;
      }
    }

    .disable-account {
      display: flex;
    }

    .disable-account {
      .hand,
      .gray-hand {
        margin-left: 1rem;
      }

      .gray-hand {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
    .remove-account {
      .remove-account-btn {
        background: $light-red;
        color: $red;
        box-shadow: 0px 3px 6px #00000017;
        border-radius: 10px;
      }

      p {
        color: $red;
        margin-top: 1rem;
      }
    }
  }
}

.main-container {
 
  
  @include auto-ordering;
  display: flex;
  flex-direction: column;
  .ant-select-dropdown{
    border: 2px solid red;
  };
}

.adjusted-main-container {
  @include auto-ordering;
  width: 85%;
}
