@import 'general.config';

// large and extra large screens

//list modal
.catalog-list-modal {
  .under-sections {
    .section-option-container {
      .section-option {
        display: flex;
        .section-switch {
          margin-left: 1rem;
        }
      }
      .section-explanation {
        .frequency-container {
          display: flex;
          width: 100%;
          justify-content: space-evenly;

          .ant-divider,
          .ant-divider-vertical {
            border-left: 2px solid #c5c5c5;
            height: 90px;
            margin-top: 20px;
          }
          .select-date-container,
          .listings-frequency-container {
            h3 {
              color: $gray;
              font-weight: $bold;
            }
            margin-top: 0.5rem;
            .blue-input {
              max-width: 200px;
            }
          }
        }
      }
    }
    .checkbox-section {
      margin-top: 1rem;
      display: flex;
      p {
        margin-left: 1rem;
      }
    }
    .list-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.ant-modal-title {
  .source {
    color: $corporative-color;
    text-align: center;
    font-size: $font-small;
  }
  .title {
    color: $primary !important;
  }
}
.catalog-container {
  .actions-section {
    border-radius: 25px 25px 0px 0px;
    background: $primary-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacer;
    .list-link {
      font-weight: normal;
      &:hover {
        color: $corporative-color;
      }
    }
    .view-clear-all {
      display: flex;
      column-gap: 5rem;
      width: 40vw;
      .success-btn {
        display: none;
      }
    }

    .filters-container {
      display: flex;
      justify-content: flex-end;
    }

    .all-selected-products,
    .clear-all {
      font-size: $font-medium;
      cursor: pointer;
      margin-bottom: 0 !important;
    }

    .all-selected-products {
      color: $corporative-color;
    }

    .clear-all {
      color: $red;
    }
  }

  .search-bars-container {
    margin-top: 2rem;
    width: auto;
    display: flex;
    justify-content: flex-start;
  }

  .catalog-cards {
    background: $primary-bg;
    margin-top: 0;
    height: auto;
    overflow-y: scroll;
    .cards-container-catalog {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      // position: relative;
      padding: 3rem;
      width: auto;
      height: 100% !important;
      // display: grid;
      // grid-template-columns: repeat(5, 1fr);
      // gap: 1rem;
      @mixin product-card {
        border-radius: 10px;
        background: $primary-bg;
        width: 15vw;
        min-width: 205px;
        height: 100%;
        margin: 0 auto;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        transition: transform 0.4s;
        margin-bottom: 50px;
        max-height: 450px;
        &:hover {
          -ms-transform: scale(1.05); /* IE 9 */
          -webkit-transform: scale(1.05); /* Safari 3-8 */
          transform: scale(1.05);
        }

        .img-container {
          margin: 1rem 0;
          height: 25vh;
          width: 100%;
          .product-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .product-description {
          margin: auto 0 !important;
          .product-info-area {
            width: auto;
            height: 100%;
            .header {
              line-height: 25px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              height: 150px;
              .view-details {
                float: right;
                margin-top: -2.8rem;
                cursor: pointer;
              }
            }

            .source {
              color: $primary-txt;
              font-size: 11px;
            }

            .transaction-details {
              display: flex;
              justify-content: space-evenly;
              line-height: 8px;
              .transaction-type {
                color: $gray;
              }
              .transaction-amount {
                font-weight: bold;
              }
              .sell {
                color: $corporative-color;
              }

              .cost {
                color: $light-primary;
              }

              .profit {
                color: $green;
              }
            }
          }
        }
      }

      .search-icon {
        position: absolute;
        bottom: 18.5%;
        left: 141px;
      }
      .product-card {
        @include product-card;
      }

      .selected-product-card {
        @include product-card;
        border: 2px solid $light-primary;
        &:before {
          content: url('../assets/catalog-imgs/circle-check.svg');
          position: absolute;
          top: -0.9rem;
          left: -0.8rem;
        }
      }
    }
  }

  .pagination-addall-container {
    position: fixed;
    bottom: 0;
    width: calc(100% - 80px);
    white-space: nowrap;
    display: flex;
    background: $primary-bg;
    padding: $spacer;

    button {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 1030px) {
    .pagination-addall-container {
      width: 100% !important;
    }
  }

  .pagination-container {
    margin-left: 37px;
    display: flex;
    width: 100%;
  }

  .adall-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  // .cards-container-catalog {
  //   grid-template-columns: repeat(4, 1fr) !important;
  // }
}

// tablet's screen sizes

@media only screen and (max-width: 1150px) {
  // .cards-container-catalog {
  //   grid-template-columns: repeat(3, 1fr) !important;
  // }
}

// small mobile  screen size
@media only screen and (max-width: 750px) {
  // .cards-container-catalog {
  //   grid-template-columns: repeat(2, 1fr) !important;
  // }

  .actions-section {
    display: flex;
    justify-content: space-between;
    .view-clear-all {
      display: grid !important;
      width: 50% !important;
      .clear-list-container {
        margin-top: 0.8rem;
        row-gap: 1rem;
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .filters-container {
      width: auto !important;
      margin-left: auto;
    }
  }
  .pagination-addall-container {
    .adall-container {
      .success-btn {
        display: none;
      }
    }
  }
  .clear-list-container {
    display: flex;
    align-items: center;
    .success-btn {
      display: block !important;
    }
  }
}

.search-container {
  position: relative;

  .search-child {
    font-size: 20px;
    position: absolute;
    top: 60px;
    right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  //list modal responsive
  .catalog-list-modal {
    .under-sections {
      .section-option-container {
        .section-explanation {
          .frequency-container {
            display: grid;
            width: 100%;
            justify-content: space-evenly;

            .ant-divider,
            .ant-divider-vertical {
              display: none !important;
            }
          }
        }
      }
    }
  }

  .ant-card-body {
    padding: 5px !important;
  }
  .catalog-container {
    padding: 0 !important;
  }
  .cards-container-catalog {
    display: flex;
    // grid-template-columns: repeat(2, 1fr) !important;
    padding: 0 !important;
    padding-top: 2rem !important;
    .product-card {
      min-width: 140px !important;
      .img-container {
        height: 15vh !important;
      }
      .transaction-details {
        justify-content: space-between !important;
        & p {
          font-size: $font-small;
        }
      }
    }
  }
}
