@import 'general.config';

// large and extra large screens

.channel-settings {
  .content {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    margin-top: 2rem;
    padding: 2rem;
    background: $primary-bg;

    .action-btns {
      position: fixed;
      right: 2%;
      top: 29%;
      display: flex;
      flex-direction: column;
    }

    .blue-input {
        max-width:200px;
    }

    .text-section {
      margin-bottom: 5rem;
    }
    .description-and-controls {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      width: 100vw;
      .limit-area,
      .stock-area {
        margin-top: 1rem;
        width: 100%;
        .limit,
        .stock {
          display: flex;
        }
      }
    }
    .config-btns {
      margin-top: 2rem;
    }
  }
}

// Tablet's screen sizes

@media only screen and(max-width: 1030px) {
  .channel-settings {
    .content {
      .action-btns {
        position: relative;
        margin: 0 0 60% 0;
        flex-direction: row !important;
        column-gap: 0 !important;
        width: 100% !important;
        .success-btn {
          margin-left: -1rem;
        }
      }

      .limit-area,
      .stock-area {
        width: 30%;
        height: 100px;
        position: relative;
        .stock,
        .limit {
          display: block !important;
          .stock-input,
          .limit-input {
            margin-top: 0.4rem;
            width: 17vw !important;
          }
        }
      }
    }
  }
}
