@import 'general.config';

// large ad extra large screens.

.dashboard {
  border: 2px solid green;
  .auto-ordering-section{
      margin-top: 2rem;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      background: $corporative-color-dark;
  };

  
}
