/*@import 'general.config';

// Large and extra large screens;
.upper-section {
  display: flex;
  justify-content: space-between;
  h3 {
    color: $corporative-color;
  }
  .external-links,
  .warning {
    background: $light-gray;
    padding: 0.5rem;
    border-radius: 19px;

    & > a {
      margin-left: 2rem;
      color: $corporative-color;

      &:hover {
        color: $corporative-color;
      }
    }
  }
}
.form {
  margin-top: 2rem;
}

.content {
  .description-and-controls {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    .limit-area,
    .stock-area {
      margin-top: 1rem;
      width: 100%;
      .radio {
        width: 100%;
      }
      .stock-input {
        width: 5vw !important;
      }
      .limit,
      .stock {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.order-listing-modal-container {
  display: flex;
  align-items: center;
}

.order-modal-icon {
  margin-right: 15px;
  background: $light-gray;
  border-radius: 30% !important;
}

.order-channel-pic {
  background-color: #e8f4ff;
}

.order-listing-modal-line {
  border-left: 3px solid #3a93e8;
  height: 60px;
}

.order-listing-modal-horizontal {
  // border: 2px solid #1c63a6;
  background-color: #1c63a6;
  border-radius: 9%;
  padding: 2px;
  font-size: 12px;
  color: #e8f4ff;
  text-align: center;
}

.order-details-btn {
  margin-top: 10px;
}
*/