// Mobile devices screens
@media screen and (min-width: 320px) and (max-width: 480px) {
}

// iPads and Tablets devices
@media screen and (min-width: 481px) and (max-width: 768px) {
}

// Screens and laptops
@media only screen and (min-width: 1224px) {
  .home-container {
    .phone-search-bar{
        display: none;
    };
    .web-search-bar{
        margin: 20px 0;
    }
  }
}

// Large screens

@media only screen and (min-width: 1824px) {
  .home-container {
    .phone-search-bar{
        display: none;
    };
    .web-search-bar{
        margin: 20px 0;
    }
  }
}
