
// Mobile devices screens
@media screen and (min-width: 320px) and (max-width: 480px){

};


// iPads and Tablets devices
@media screen and (min-width: 481px) and (max-width: 768px){
    
}

// For desktops and large screens
@media screen and (min-width: 1025px) and (max-width: 1200px){
    .listings-container{
        overflow-y: scroll;
        max-width: 100%;
        
        .side-nav{
            display: none;
        };

        .phone-search-bar{
            display: none;
        };

        .web-search-bar{
            margin: 0 20px;
        }
    }
}

// For small screens and laptops
@media screen and (min-width: 769px) and (max-width: 1024px){
    .listings-container{
        overflow-y: scroll;
        max-width: 100vw;
        
        .side-nav{
            display: none;
        };

        .web-search-bar{
            display: none;
        }
    }
}
