@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import '../sass/light-theme/general.config';

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
  line-height: 1.5715;
  .ant-layout {
    overflow: auto;
    padding: 0.3rem;
    background: $mild-light-blue;
    .spinner {
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }

 
  .ant-layout.ant-layout-has-sider {
    margin: 0px 5px 0px 80px;
  }
  .content-area {
    & > * {
      margin-left: 220px;
    }
  }
}

//Scrollbar
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: $light-gray;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 5px;
}

svg > path:first-child {
  display: none;
}

//Ant buttons styles fixed

button:focus,
button,
#dropdown-basic,
.ant-btn {
  outline: none;
  border: 0;
}

@media screen and (max-width: 1030px) {
  .ant-layout.ant-layout-has-sider {
    margin: 0px !important;
  }
}

.table td,
.table th {
  vertical-align: unset !important;
}
//MISSING TRANSLATION STYLES

.missingTranslation {
  color: var(--errorTxt);
  font-size: var(--font-small);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  10% {
    opacity: 0;
  }
}
