@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import '../_variables.css';
@import '../_variables.medium.css';
@import '../_variables.small.css';
@import './light-theme/general.config';



body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;

  .layout {
    background: $super-light-blue;
    .content-area{
      & > *{
        margin-left: 20rem;
      }
    }
  }
}
