@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import 'general.config';
body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: auto;
  line-height: 1.5715;
  box-sizing: border-box;
  background: $secondary-bg;

  .ant-layout {
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: fill-available;
    margin-top: 0.5rem;
    padding: 0.3rem;
    background: $secondary-bg;
    .spinner {
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }

  .ant-modal-close-x {
    width: 4000px;
  }

  .ant-layout.ant-layout-has-sider {
    margin: 0px 5px 0px 80px;
  }
  .content-area-resized {
    margin: 1rem 2rem 0 13rem;
    .listings .action-components .ant-input-wrapper {
      width: 100% !important;
    }

    .control-btns-container {
      width: 68vw !important;
    }
  }

  @media only screen and (max-width: 1030px) {
    .content-area-resized {
      margin: 0 auto !important;
    }
  }
}

// Tablets and iPads scree sizes

//Scrollbar
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: $light-gray;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 5px;
}

// Ant pagination styles
.ant-pagination-item,
.ant-select-selector,
.ant-pagination-item-link {
  transition: none !important;
  color: $corporative-color;
  border-radius: 8px !important;
  &:hover {
    color: $corporative-color;
    border-color: $corporative-color !important;
  }
}
.ant-pagination-item-active,
.ant-select-item-option-state {
  border-color: $corporative-color !important;
}

//Ant buttons styles fixed
.ant-input:placeholder-shown {
  border-radius: 15px;
  height: 35px;
}
button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}

button:focus,
button,
#dropdown-basic,
.ant-btn {
  outline: none;
  border: 0;
}

@media screen and (max-width: 1030px) {
  .ant-layout.ant-layout-has-sider {
    margin: 0px !important;
  }
}

.table td,
.table th {
  vertical-align: unset !important;
}

// Form labels custom

.ant-row .ant-form-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.ant-form-item-label > label {
  font-weight: 600;
  font-size: 16px;
}

//MISSING TRANSLATION STYLES

.missingTranslation {
  color: var(--errorTxt);
  font-size: var(--font-small);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  10% {
    opacity: 0;
  }
}

// Range Picker' styles

.ant-picker-date-panel {
  .ant-picker-header {
    display: flex;
    padding: 0 8px;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #f0f0f0;
    justify-content: center;
    margin: auto 90px;
  }
  .ant-picker-header-view {
    display: flex;
    padding: 0 40px;
  }
}
