@import 'general.config';

.action-btn {
  height: 43px;
  padding: 10px 15px;
  border-radius: 10px;
  color: $primary-bg;
  font-size: $font-medium;
  font-weight: $bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  .btn-text {
    display: flex;
    & span {
      margin-left: 0.3rem;
    }
  }
}

.dispatch-btn {
  background-color: $green;
  &:focus {
    background-color: $dark-green;
    color: $primary-bg;
  }
  &:hover {
    background-color: $dark-green;
    color: $primary-bg;
  }
}

.delete-btn {
  background-color: $red;
  &:focus {
    background-color: $dark-red;
    color: $primary-bg;
  }

  &:hover {
    background-color: $dark-red;
    color: $primary-bg;
  }
}

.process-btn {
  background-color: $light-blue;
  &:focus {
    background-color: $dark-blue;
    color: $primary-bg;
  }
  &:hover {
    background-color: $dark-blue;
    color: $primary-bg;
  }
}

.stop-btn {
  background-color: $orange;
  &:focus {
    background-color: $dark-orange;
    color: $primary-bg;
  }
  &:hover {
    background-color: $dark-orange;
    color: $primary-bg;
  }
}
