@import 'general.config';

.order-state-progress-modal {
  padding: $spacer;
}

.modal-page .modal-header {
  border-bottom: none !important;
  padding-bottom: 0;
}

.order-state-header {
  display: flex;
  flex-direction: column;
}

.order-state-body {
  padding: $spacer;
}

.order-state-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-title {
  color: $corporative-color;
  font-size: $font-large;
  margin-right: $spacer;
}

.autoordering-state {
  background: $green;
  border-radius: 10px;
  opacity: 1;
  color: $primary;
  font-size: $font-small;
  width: 137px;
  height: 27px;
  align-items: center;
  display: flex;
  padding: $spacer;
  font-weight: $bold;
}

.close-modal-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.order-state-body {
  position: relative;
  padding: $spacer;
}

.go-back-details-container {
  margin-top: $spacer;
  display: flex;
  align-items: center;

  & svg {
    cursor: pointer;
    transform: rotate(180deg);
  }
}

//Added to order detail modal
.go-back-orders-container {
  margin-top: $spacer;
  display: flex;
  align-items: center;

  & svg {
    cursor: pointer;
  }
}
.disabled-line {
  background-color: #7e7373;
  margin: 7px 0;
  width: 1.8px;
  height: 70px;
}

.h-blue-line {
  margin: 7px 0;
  width: 1.8px;
  height: 70px;
  background-color: rgba(22, 73, 151, 0.98);
}

.start-order-active-svg svg circle,
.start-order-active-svg g #Path_311,
.start-order-active-svg g #Path_310 {
  stroke: $corporative-color;
}

.order-checkout-icon rect,
.order-checkout-icon line {
  stroke: $corporative-color;
}
.last-step-order-icon #Path_315 {
  fill: $corporative-color;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.img-order-container {
  padding: $spacer;
}

.img-order {
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.order-step-heading h4 {
  font-weight: 600;
  font-size: $font-medium;
  color: rgba(0, 0, 0, 0.98);
}

.history-text {
  font-weight: 600;
  font-size: $font-large;
  color: rgba(0, 0, 0, 0.98);
  opacity: 0.33;
}

.order-step-heading p {
  font-weight: 400;
  font-size: $font-small;
  color: rgba(0, 0, 0, 0.98);
  opacity: 0.48;
}

.order-step-heading span {
  font-weight: 400;
  font-size: $font-medium;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.98);
}

.go-back-details {
  font-weight: bold;
  font-size: $font-medium;
  color: $corporative-color;
  cursor: pointer;
}
.modal-buttons-block {
  display: block;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.modal-button-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.modal-button-row-mt5 {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

// button {
//   width: 45%;
// }

@media (max-width: 400px) {
  .modal-buttons-block {
    row-gap: 0rem;
    display: grid !important;
    width: 135%;

    .action-btn {
      width: 100% !important;
    }
  }

  .modal-button-row {
    display: block;
    width: 70%;
  }
  Button {
    margin-bottom: 0.5rem;
  }
}
