@import 'config';


// BUTTON STYLES

.orders-type-btns {
  display: flex;
  background-color: $white-bg;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 10px;
}

.process-5-order-btn {
  background-color: var(--bgBlue);
  height: 43px;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.process-5-order-btn:hover {
  background-color: #3a66ce;
  color: var(--bgPage);
}

.stop-5-order-btn {
  background-color: var(--color-light-orange);
  height: 43px;
  padding: 10px 40px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.stop-5-order-btn:focus {
  box-shadow: none;
}

.stop-5-order-btn:hover {
  background-color: #df9c4f;
  color: var(--bgPage);
}

.delete-5-order-btn {
  background-color: var(--bg-dark-pink);
  height: 43px;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.delete-5-order-btn:focus {
  box-shadow: none;
}
.delete-5-order-btn:hover {
  background-color: #c20648;
  color: var(--bgPage);
}

.mark-dispatch-btn {
  background-color: var(--color-secondry);
  height: 43px;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.mark-dispatch-btn:hover {
  background-color: #198319;
  color: var(--bgPage);
}
.order-table-body {
  white-space: nowrap;
}

// TABLE STYLE

.state-btn {
  width: 137px;
  cursor: pointer;
}

.state-btn:hover {
  color: var(--bgHighlight);
}

.table-with-open-sidebar {
  max-height: 53vh;
  overflow-x: scroll;
  .order-table-head {
    color: var(--color-dark-violet);
    white-space: nowrap;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--bgHighlight);
    font-size: var(--font-large) !important;
    z-index: 1;
  }
}

// MODAL BUTTONS

.process-order-btn-style {
  background-color: var(--bgBlue);
  height: 43px;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.stop-order-btn-style {
  background-color: var(--color-light-orange);
  height: 43px;
  padding: 10px 40px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.stop-order-btn-style:hover {
  background-color: #df9c4f;
  color: var(--bgPage);
}

.process-order-btn-style:hover {
  background-color: #3a66ce;
  color: var(--bgPage);
}
.mark-dispatch-modal-btn-style {
  background-color: var(--color-secondry);
  height: 43px;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.mark-dispatch-modal-btn-style:hover {
  background-color: #198319;
  color: var(--bgPage);
}

.delete-order-modal-btn-style {
  background-color: var(--bg-dark-pink);
  height: 43px;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.delete-order-modal-btn-style:hover {
  background-color: #c20648;
  color: var(--bgPage);
}

// DROPDOWN STYLES

.order-three-dots-dropdown .dropdown-menu {
  width: 190px;
  height: 155px;
  border-radius: 0px 0px 15px 15px;
  background: var(--bgPage);
  box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.16);
}

.order-three-dots-dropdown .btn-primary {
  background-color: var(--bgHighlight) !important;
  padding: 0;
}

.order-three-dots-dropdown .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
}

.order-three-dots-dropdown .dropdown-item {
  padding: 0 8px;
  font-weight: 500;
  font-size: 14px;
  color: #3b3b3b;
  margin-bottom: 10px;
}

.show > .btn-primary.dropdown-toggle {
  background-color: transparent;
}

.order-three-dots-dropdown .btn-primary.focus,
.order-three-dots-dropdown .btn-primary:focus {
  box-shadow: none !important;
}

.order-three-dots-dropdown .dropdown-item:active {
  background-color: transparent;
}

.order-three-dots-dropdown svg > * {
  stroke: var(--iconColor);
}

.order-three-dots-dropdown .process-order-icon g {
  stroke: var(--bgPage) !important;
}

.order-three-dots-dropdown .process-order-icon #Path_287 {
  stroke: var(--iconColor) !important;
}

// PROGRESS  BAR

.progress-order .progress-bar {
  width: 436px;
  border-radius: 9.5px;
  background: linear-gradient(
    var(--color-secondry) 0%,
    var(--color-secondry) 15.85%,
    #3aa23a 67.04%,
    var(--color-secondry) 100%
  );
}

.progress-order .progress {
  border-radius: 9.5px;
}

.progress-order {
  font-weight: bold;
  font-size: var(--font-large);
  color: var(--color-dark-violet);
}

.save-btnn-modal {
  padding: 10px;
  background: var(--color-secondry);
  border-radius: 10px;
  border: 2px solid var(--color-secondry) !important;
  opacity: 1;
  color: var(--bgHighlight);
  font-size: var(--font-18);
  font-weight: 700;
}

.save-btnn-modal:hover {
  background-color: transparent;
  color: var(--color-secondry);
  border: 2px solid var(--color-secondry) !important;
}

// AO DISABLED MODAL STYLES

.middle-part-autoordering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 485px;
}

.middle-part-autoordering p {
  font-weight: bold;
  font-size: var(--font-medium);
  text-align: center;
  color: var(--color-dark-violet);
  max-width: 572px;
  margin-bottom: 30px;
}

.middle-part-autoordering button {
  width: 316px;
  height: 59px;
  border-radius: 10px;
  background: var(--bgBlue);
  color: var(--bgHighlight);
  font-size: var(--font-medium);
}

.middle-part-autoordering button:hover {
  background: #4f77d4;
  color: var(--bgHighlight);
}

// CHECKBOX STYLE

.select-all-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-all-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.select-all-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #202020;
  border-radius: 2.5px;
}

// On mouse-over, add a grey background color

.select-all-checkbox:hover input ~ .checkmark {
  border: 2px solid #202020;
}

//  When the checkbox is checked, add a blue background

.select-all-checkbox input:checked ~ .checkmark {
  background-color: #5e69db;
  border: 2px solid #5e69db;
}
/* Create the checkmark/indicator (hidden when not checked) */
.select-all-checkbox .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.select-all-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.select-all-checkbox .checkmark:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 8px;
  border: solid #45ff00;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* PURPLE FILLED */

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #5e69db;
  border-radius: 2px;
}
/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #5e69db;
}
/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #5e69db;
}
/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 4px;
  top: 4px;
  width: 5px;
  height: 8px;
  border: solid #45ff00;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* MEDIA QUERY  */

@media (max-width: 768px) {
  .order-table .order-th-none {
    display: none !important;
  }
  .order-table .order-td-none {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .delete-btn-parent {
    width: 55%;
  }
  .process-btn-parent {
    width: 45%;
  }
  .delete-order-modal-btn-style {
    height: unset;
    padding: 3px 3px;
  }
  .process-order-btn-style {
    height: unset;
    padding: 3px 3px;
  }
  .stop-order-btn-style {
    height: unset;
    padding: 3px 3px;
  }
  .mark-dispatch-modal-btn-style {
    height: unset;
    padding: 3px 3px;
  }

  .mark-dispatch-modal-btn-style svg,
  .stop-order-btn-style svg,
  .process-order-btn-style svg,
  .delete-order-modal-btn-style svg {
    height: 14px;
    width: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1250px) {
  .process-5-order-btn {
    padding: 6px 15px !important;
  }
}

@media (max-width: 768px) {
  .time-line-here svg {
    width: 30px;
    height: 30px;
  }
  .time-line-here .rotating {
    width: 15px;
    height: 15px;
  }
  .middle-part-autoordering {
    height: 250px;
  }
  .middle-part-autoordering button {
    width: 220px;
    height: 40px;
  }
  .orders-table-main {
    padding: 6px;
    margin: 8px 0;
    border-radius: 10px;
  }

  .stop-5-order-btn {
    width: 100%;
    height: unset;
    padding: 8px;
  }

  .process-5-order-btn {
    width: 100%;
    height: unset;
    padding: 8px;
  }
  .mark-dispatch-btn {
    width: 100%;
    height: unset;
    padding: 8px;
  }

  .delete-5-order-btn {
    width: 100%;
    height: unset;
    padding: 8px;
  }
  .stop-5-order-btn svg,
  .delete-5-order-btn svg,
  .mark-dispatch-btn svg,
  .process-5-order-btn svg {
    height: 12px;
    width: 12px;
  }

  .mark-dispatch-modal-btn-style svg,
  .stop-order-btn-style svg,
  .process-order-btn-style svg,
  .delete-order-modal-btn-style svg {
    width: 12px;
    height: 12px;
  }
}
