@import 'general.config';

// NAVBAR
.orders-container {
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  .search-bars-container {
    margin: 4rem 0 2rem 0;
  }
}
