@import 'general.config';

// DROPDOWN STYLES

.dropdown-orders-button .btn-primary {
  background-color: $primary !important;
  padding: 0;
}

.dropdown-box {
  width: 220px;
  height: 155px;
  border-radius: 0px 0px 15px 15px;
  background: $primary;
  box-shadow: 15px 15px 55px $primary-txt;

  .dropdown-item {
    margin-left: 0.5rem;
    display: flex;
    padding: 0 8px;
    font-weight: 500;
    font-size: 14px;
    color: $primary-txt;
    margin-bottom: 10px;
    .dropdown-text {
      margin-left: 0.5rem;
    }
  }
}

.dropdown-orders .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
}

.show > .btn-primary.dropdown-toggle {
  background-color: transparent;
}

.order-three-dots-dropdown .btn-primary.focus,
.order-three-dots-dropdown .btn-primary:focus {
  box-shadow: none !important;
}

.order-three-dots-dropdown .dropdown-item:active {
  background-color: transparent;
}

.order-three-dots-dropdown svg > * {
  stroke: $corporative-color;
}

.order-three-dots-dropdown .process-order-icon g {
  stroke: $primary !important;
}

.order-three-dots-dropdown .process-order-icon #Path_287 {
  stroke: $corporative-color !important;
}
