@import 'general.config';

// Large and extra large screens

.sources-settings-container {
  margin: 4rem 0;
  overflow: hidden;
};

.sources-config-name {
  font-weight: bold;
  font-size: $font-large;
  color: $primary-txt;
  font-weight: bold;
  & span {
    color: $light-blue;
    font-size: $font-large;
  }
}

.main-content {
  margin-top: 1rem;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 1rem;
  &::-webkit-scrollbar {
    /* Chrome */
    display: none;
  }
}
.control-section {
  position: absolute;
  right: 2%;
  top: 24%;
  height: auto;
  .action-btns {
    display: grid !important;
    margin: 1rem;
  }
}

.input-control {
    padding: 4px 12px;
    height: auto;

}

.settings-list {
  margin-top: $spacer;
  justify-content: space-between;
}

@media only screen and(max-width: 1030px) {
  .sources-container {
    position: relative;
  }

  .tabs-container {
    overflow: scroll !important;
    display: block !important;
    .sources-settings-contents {
      width: 80vw !important;
      height: auto !important;
      margin: 0 auto !important;
    }
    .right-section {
      display: flex;
      top: 0 !important;
      flex-direction: row;
      position: relative !important;
      margin: 0 1rem !important;
      width: 100% !important;
      .action-btns {
        flex-direction: row !important;
        height: 48px !important;
        & > * {
          width: stretch !important;
          margin: 0 !important;
        }
      }
    }
  }
}
