@import 'general.config';

.ant-switch {
  max-width: 20px;
  &:focus {
    box-shadow: none !important;
  }
}

.ant-switch-checked {
  background-color: $corporative-color !important;
}

.ant-click-animating-node {
  display: none;
}
