@import 'general.config';

.ant-switch {

    &:focus {
        box-shadow: none !important;
        background-color: $corporative-color !important;
    }
}

.ant-switch-checked {
  background-color: $corporative-color !important;
  background-image: none !important;
}

.ant-click-animating-node {
  display: none;
}
