@use './general.config';
@import './general.config';

.template-name {
  h4 {
    font-weight: bold;
  }
}

.default-template {
  .default {
    font-weight: bold;
    color: $light-primary;
  }
  .not-default {
    text-decoration: underline;
    cursor: pointer;
    color: $primary;
  }
}

.action-btns-container{
  width: 40%;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.se-toolbar.sun-editor-common{
  z-index: 1 !important;
}