:root {
  --corporative-color: #262e80;
  --primary-bg: #fff;
  --secondary-bg: #f2f8ff;
  --primary-txt: black;
}

[data-theme='dark'] {
  --corporative-color: #ffffff;
  --primary-bg: #262843;
  --secondary-bg: linear-gradient(140deg, #252745 0%, #1b1b31 100%);
  --primary-txt: white;
}

a {
  font-size: 1rem;
  color: var(--corporative-color);
  font-weight: 700;
}

a:hover {
  color: #fdcf00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5e69db !important;
  border-color: #5e69db !important;
}

.redirect-link,
.back-link,
.alternative-link {
  width: 100%;
  color: var(--corporative-color);
}

.redirect-link:hover,
.back-link:hover,
.alternative-link:hover {
  color: var(--corporative-color);
}

.blue-input {
  background: var(--secondary-bg);
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.blue-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: var(--secondary-bg);
}

.auth-input {
  background: transparent;
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.auth-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: transparent;
}

.chevron-right,
.chevron-left {
  margin-top: 0.25rem !important;
  background: #5e84db;
  color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn {
  margin: 1rem 0;
  background: #262e80;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.primary-btn:hover {
  background: #262e80;
  color: var(--primary-bg);
}

.secondary-btn {
  margin: 1rem 0;
  background: #777;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.secondary-btn:hover {
  background: #777;
  color: var(--primary-bg);
}

.disabled-btn {
  margin: 1rem 0;
  border-radius: 8px;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: auto !important;
  opacity: 0.3;
}

:root {
  --corporative-color: #262e80;
  --primary-bg: #fff;
  --secondary-bg: #f2f8ff;
  --primary-txt: black;
}

[data-theme='dark'] {
  --corporative-color: #ffffff;
  --primary-bg: #262843;
  --secondary-bg: linear-gradient(140deg, #252745 0%, #1b1b31 100%);
  --primary-txt: white;
}

a {
  font-size: 1rem;
  color: var(--corporative-color);
  font-weight: 700;
}

a:hover {
  color: #fdcf00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5e69db !important;
  border-color: #5e69db !important;
}

.redirect-link,
.back-link,
.alternative-link {
  width: 100%;
  color: var(--corporative-color);
}

.redirect-link:hover,
.back-link:hover,
.alternative-link:hover {
  color: var(--corporative-color);
}

.blue-input {
  background: var(--secondary-bg);
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.blue-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: var(--secondary-bg);
}

.auth-input {
  background: transparent;
  border-radius: 10px;
  height: 42px;
  font-size: 1rem;
  font-weight: 700;
}

.auth-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: transparent;
}

.chevron-right,
.chevron-left {
  margin-top: 0.25rem !important;
  background: #5e84db;
  color: var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn {
  margin: 1rem 0;
  background: #262e80;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.primary-btn:hover {
  background: #262e80;
  color: var(--primary-bg);
}

.secondary-btn {
  margin: 1rem 0;
  background: #777;
  border-radius: 8px;
  color: var(--primary-bg);
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.secondary-btn:hover {
  background: #777;
  color: var(--primary-bg);
}

.disabled-btn {
  margin: 1rem 0;
  border-radius: 8px;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  cursor: auto !important;
  opacity: 0.3;
}

@media only screen and (max-width: 750px) {
  :root p {
    font-size: 0.5rem;
  }
  :root h1 {
    font-size: 1.1rem;
  }
  :root h2 {
    font-size: 0.9rem;
    font-weight: 700;
  }
  :root h3 {
    font-size: 0.9rem;
  }
  :root h4 {
    font-size: 0.7rem;
  }
  :root a {
    font-size: 0.7rem;
  }
}

.modal-title {
  margin-bottom: 1rem;
}

.modal-title,
.confirm-text {
  color: var(--corporative-color);
}

.listings-container {
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: fill-available;
}

.danger-text {
  color: #dd0a54;
}

.linked-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border-radius: 10px;
  background: #f0f0f0;
  margin: 1rem 0;
}

.linked-store > * {
  margin-left: 0.4rem;
}

.linked-store img {
  width: 5%;
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.confirm .confirm-text {
  margin-left: 1rem;
}

.action-btns {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: auto !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.action-btns .disabled {
  background: rgba(94, 105, 219, 0.2);
  color: var(--primary-bg);
  border-radius: 8px;
}

.action-btns .disabled:hover {
  background: rgba(94, 105, 219, 0.2);
  color: var(--primary-bg);
}

.top-bar-item {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar-item .tokens-container {
  color: var(--primary-txt);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1px;
  cursor: pointer;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-bar-item .tokens-container .token-icon {
  width: 30px;
}

.top-bar-item .tokens-container .token-number {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0.25rem;
}

.top-bar-item .tokens-container .tokens {
  display: inline;
  font-size: 1rem;
}

.top-bar-item .notifications-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-bar-item .notifications-container .notifications {
  font-weight: bold;
  font-size: 1rem;
  display: inline;
}

.top-bar {
  height: 60px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  padding: 1rem;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  background: var(--primary-bg);
}

.top-bar .action-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .logo-container .logo {
  top: 12px;
  left: 38px;
  width: 37px;
  height: 40px;
  opacity: 1;
}

.top-bar .logo-container .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .logo-container .logo-text {
  color: var(--corporative-color);
  margin: auto;
  font-size: 1.2rem;
}

.top-bar .menu-burger {
  display: none;
}

.top-bar .quota-container-topbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1%;
  padding: 5px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-bar .quota-container-topbar .quota-container {
  width: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .quota-container-topbar .quota-container .quota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-txt);
}

.top-bar .quota-container-topbar .quota-container .quota .quota-text,
.top-bar .quota-container-topbar .quota-container .quota .quota-progress {
  padding-top: 17px;
}

.top-bar .quota-container-topbar .progress-bar {
  width: 30%;
  border-radius: 12px;
  background: transparent;
  margin: auto;
}

.top-bar .quota-container-topbar .progress-bar .ant-progress-bg {
  background-color: #262e80 !important;
}

.top-bar .quota-container-topbar .update-btn {
  border-radius: 20px;
  color: var(--primary-txt);
  background: #262e80 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  width: 113px;
  height: 30px;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-bar .quota-container-topbar .update-btn:hover {
  background: #5e69db;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 123px;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 20px;
  border: solid 2px #777;
  opacity: 1;
  height: 30px;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.137) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.137) 0px 5px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown:focus {
  border: none !important;
  outline: none !important;
}

.dropdown .btn-arrow-container {
  background: none !important;
}

.dropdown .btn-arrow-container :focus {
  text-decoration: none !important;
  border: none !important;
}

.dropdown .btn-arrow-container .down-arrow-icon {
  width: 10px;
}

.dropdown .store-name {
  color: var(--primary-txt);
  font-size: 1rem;
  padding-left: 1rem;
}

.dropdown .flag {
  padding-left: 5px;
}

.dropdown .company {
  padding-left: 2px;
}

.dropdown .dropdown-menu {
  z-index: 1;
  width: 100%;
  height: 36vh;
  overflow-y: scroll;
}

.dropdown .dropdown-toggle {
  background: transparent !important;
  outline: none !important;
  color: var(--primary-txt);
}

.dropdown .dropdown-toggle:focus, .dropdown .dropdown-toggle:active {
  border: transparent !important;
  outline: none !important;
  border: none !important;
}

.tokens-container:hover,
.notifications-container:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #f0f0f0;
  border-radius: 25px;
}

@media only screen and (max-width: 1030px) {
  .top-bar {
    width: auto !important;
  }
  .top-bar .logo-container,
  .top-bar .quota-container {
    display: none !important;
  }
  .top-bar .quota {
    display: none !important;
  }
  .top-bar .menu-burger {
    display: block;
    cursor: pointer;
    width: auto;
    border-radius: 8px;
    padding: 12px;
    background: #5e69db;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-bar .menu-burger .second {
    margin: 5px 0;
  }
  .top-bar .menu-burger span {
    display: inline-block;
    width: 20px;
    height: 2px;
    background: var(--primary-bg);
  }
  .top-bar .dropdown .store-name {
    display: none;
  }
  .top-bar .top-bar-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .top-bar .top-bar-nav .progress-bar,
  .top-bar .top-bar-nav .update-btn {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .tokens {
    display: none !important;
  }
  .top-bar-item {
    margin: 0 0.2rem;
  }
}
/*# sourceMappingURL=top-bar.css.map */