@import 'general.config';

.va-profiles-container {
  background: $secondary-bg;
  width: 100%;
  overflow-x: hidden;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  .ant-card {
    border-radius: 15px !important;
  }

  .row {
    display: flex;
    justify-content: center;

    .form {
      display: grid;
      margin-top: 0rem;
      .input {
        border-radius: 10px;
        background: $secondary-bg !important;
        box-shadow: inset 0px 3px 6px #0000000b;
        width: 60% !important;
      }

      .confirm-btn {
        margin-top: 1rem;
        width: 30% !important;

        &:hover {
          background: $light-primary;
          color: $primary-bg;
          border-radius: 10px;
        }
      }
    }
  }
}

// mobile phone screen;
@media only screen and (max-width: 750px) {
  .va-profiles-container {
    .form {
      padding: 0;
    }
    .row {
      .form-container {
        order: -1;
      }
      .table-container {
        order: 1;
        margin-top: 1rem;
      }
    }
  }
}
