.dockerignore
.env
.git
.gitignore
.github
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
dockerfile
dockerfile.prod
buildlog.log

**/bin
**/obj
**/output
**/.toolstarget
**/node_modules
**/build
**/output

bin/
obj/
output/
node_modules/
build/
output/

node_modules
build
.dockerignore