.source-table {
  border-bottom: 1px solid #dedede !important;
}

.source-table-head {
  background-color: #fff;

  color: var(--color-dark-violet);
  white-space: nowrap;
  font-weight: bold;
  position: sticky;
  top: 0;
  font-size: var(--font-large) !important;
}

/* SELECT SOURCES STYLES  */

.add-account-select-parent {
  width: 348.54px !important;
}
.defined-by-settings-select-parent {
  width: 100% !important;
  height: 44px !important;
}
.defined-by-settings-select-parent .select-dropdown-shows h5 {
  font-weight: 600 !important;
  font-size: var(--font-small) !important;
  color: rgba(0, 0, 0, 0.4) !important;
}
.defined-by-settings-select-parent .shows-search-drop-list {
  top: 34px;
}
.react-list-data-here li {
  color: rgba(0, 0, 0, 0.4) !important;
}
.react-search-with-select-parent {
  width: 217px;
  height: 62px;
  border-radius: 8px !important;
  background: var(--bgHighlight);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  border: 0;
  /* z-index: 10; */
}

.react-search-with-select-parent .select-dropdown-shows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 6px 12px;
  overflow: hidden;
  background-color: var(--bgHighlight);
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  transition: all 300ms ease;
}
.react-search-with-select-parent .select-dropdown-shows h5 {
  font-weight: 400;
  font-size: var(--font-large);
  color: #000;
}

.shows-search-drop-list {
  border-radius: 8px !important;
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); */
  -webkit-box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.16);

  padding: 12px;
  background-color: var(--bgHighlight);
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 50px;
}

.react-list-data-here {
  margin-top: 12px;
  max-height: 200px;
  overflow: auto;
}

.react-list-data-here::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.react-list-data-here::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 8px;
}

.react-list-data-here::-webkit-scrollbar {
  width: 5px;
}

.react-list-data-here li {
  list-style-type: none;
  font-size: var(--font-large);
  font-weight: 400;
  margin: 12px 0;
  cursor: pointer;
  z-index: 11;
}

.react-list-data-here li:hover {
  background-color: rgba (255, 255, 255, 0.418);
}

.amazonlogin-input-style {
  padding: 9px 12px;
  width: 100%;
  height: 42px;
  border-radius: 10px;
  background-color: var(--bgInputLight) !important;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: var(--font-medium);
  color: rgba(0, 0, 0, 0.247) !important;
}

.amazonlogin-input-style::placeholder {
  color: rgba(0, 0, 0, 0.247) !important;
}

.overlay-dsiable-account::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 2;
}

.blue-normal-text {
  font-weight: normal;
  font-size: 12px;
  color: #004eff;
}
/* TABS  STYLE  */

/* MEDIA QUERY  */
@media (max-width: 750px) {
  .source-table .source-th-none {
    display: none !important;
  }
  .source-table .source-td-none {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .shows-search-drop-list {
    padding: 8px;
    top: 0;
  }
  .drop-list-search-input {
    padding: 3px 4px;
  }
  .drop-list-search-input input {
    font-size: 8px;
  }
  .add-acccounnt-icon svg {
    height: 16px;
  }

  .acc-input-parent {
    width: 235px;
  }

  .react-search-with-select-parent .select-dropdown-shows h5 {
    font-size: var(--font-small);
  }
  .react-search-with-select-parent {
    width: 110px;
    height: 35px;
  }

  .react-list-data-here li {
    margin: 8px 0;
  }
  .add-account-select-parent {
    width: 160px !important;
    height: 35px;
  }
}
