@import '../general.config';
// Large and extra large screens
.bulk-list-content {
  h1 {
    width: 100%;
    align-self: flex-start;
  }

  margin-top: 1rem;
  width: 100% !important;
  display: grid;
  justify-items: center;

  .content-bulk {
    width: 90%;

    .sections-container {
      .div-danger {
        color: $red;
        cursor: pointer;
      }

      .summary-heading {
        padding: 20px 20px 10px 20px;
      }

      .bulk-sections {
        display: flex;
        justify-content: space-between;

        .options-container {
          .bulk-options {
            margin-right: 1rem;

            .bulk-form {
              display: grid;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }

      .table-container {
        width: 100%;
        height: fit-content;

        .button-container {
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          align-content: center;

          button {
            width: 100%;
          }
        }
      }
    }
  }

  .spreadsheet {
    width: 100%;
    justify-content: center;
    display: grid;

    .Spreadsheet__table {
      width: 100%;

      col:nth-of-type(1) {
        width: 50px;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    .bulk-sections {
      .options-container {
        .bulk-options {
          min-width: 400px !important;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .sections-container {
      width: 100% !important;

      .bulk-sections,
      .bulk-sections {
        display: grid !important;
        justify-content: center !important;
        width: 100% !important;

        .options-container {
          .bulk-options {
            min-width: 0px !important;
            margin-right: 0px !important;
          }
        }
      }
    }
  }
}
