@import '../general.config';

// Large screen sizes
.main-container {
  .back-to-services {
    display: flex;
  }
  .service-main-container {
    margin: 1rem 0 0 0;
    padding: 1rem;
    height: auto;
    background: $primary-bg;

    .service-area {
      width: 100%;
      margin: 1rem auto 0 auto;
      display: flex;
      justify-content: space-between;
      .ant-col {
        display: flex !important;
        justify-content: center !important;
      }

      .service-container {
        display: flex;
        justify-content: center;
        width: 100%;
        .image-container {
          width: fit-content;
          img {
            width: 100%;
            margin: 1rem 0;
          }
        }
      }

      .description-area {
        width: 80%;
        .service-title {
          color: $corporative-color;
        }
      }
      .service-pricing-container {
        display: grid;
        justify-items: center;
        width: 100%;
        margin-top: 3rem;
        .service-pricing-table {
          width: 90%;
          .service-cost {
            padding: 0.3rem;
            border-radius: 10px 10px 0 0;
            box-shadow: 0px 3px 6px #00000017;
            background-color: $light-blue;
            display: grid;
            width: 100%;
            align-items: center;
            justify-content: center;

            .cost-title {
              color: white;
              margin: 0;
            }
          }
          .service-cost-details {
            display: flex;
            border-radius: 0 0 20px 20px;
            box-shadow: 0px 3px 6px #00000017;
            .ant-divider {
              height: 10rem;
              margin: 1rem 0;
            }
            .service-rate-container {
              padding: 1rem;
              width: 100%;
              display: grid;
              justify-items: center;
              align-content: center;
              text-align: center;
              &:hover {
                background-color: $light-gray;
                cursor: pointer;
                border-radius: 0 0 20px 20px;
              }
              .rate-details {
                display: flex;
              }
              .what-includes {
                color: $gray;
              }
            }
          }
        }
      }
    }
  }
}
