@import '../general.config';

// Large screen sizes
.main-container {
  .back-to-services {
    display: flex;
  }

  .service-main-container {
    margin: 1rem 0 0 0;
    padding: 1rem;
    height: 100vh;
    // background: $primary-bg;
    position: relative;
    .service-area {
      width: 100%;
      margin: 1rem auto 0 auto;
      display: flex;
      justify-content: space-between;
      .ant-col {
        display: flex !important;
        justify-content: center !important;
      }

      .service-container {
        display: flex;
        justify-content: center;
        width: 100%;
        .image-container {
          width: fit-content;
          img {
            width: 100%;
            margin: 1rem 0;
          }
        }
      }

      .description-area {
        width: 80%;
        .service-title {
          color: $corporative-color;
        }
      }
      .service-pricing-container {
        display: grid;
        justify-items: center;
        width: 100%;
        margin-top: 3rem;
        .service-pricing-table {
          width: 90%;
          .service-cost {
            padding: 0.3rem;
            border-radius: 10px 10px 0 0;
            box-shadow: 0px 3px 6px #00000017;
            background-color: $light-blue;
            display: grid;
            width: 100%;
            align-items: center;
            justify-content: center;

            .cost-title {
              color: $corporative-color-dark;
              margin: 0;
            }
          }
          .service-cost-details {
            display: flex;
            border-radius: 0 0 20px 20px;
            box-shadow: 0px 3px 6px #00000017;
            .ant-divider {
              height: 10rem;
              margin: 1rem 0;
            }
            .service-rate-container {
              padding: 1rem;
              width: 100%;
              display: grid;
              justify-items: center;
              align-content: center;
              text-align: center;
              &:hover {
                background-color: $light-gray;
                cursor: pointer;
                border-radius: 0 0 20px 20px;
              }
              .rate-details {
                display: flex;
              }
              .what-includes {
                color: $gray;
              }
            }
          }
        }
      }
      .services-carousel-container {
        width: 65%;
        margin: 5rem auto;
        .carousel {
          .slick-list .slick-track {
            display: flex;
            column-gap: 1rem;
          }
          .listing-service {
            background: $corporative-color-dark !important;
            border-radius: 10px;
            height: 200px;
            .ant-card-body {
              padding: 0;
            }

            .title {
              margin-bottom: 1rem;
              text-align: center;
              background: $light-blue;
              color: $corporative-color-dark !important;
              top: 0;
              left: 0;
              padding: 0.4em;
              width: 100%;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              text-align: center;
            }
            .prices {
              height: auto;
              .price-section{
                height: 40px;
              }
              .price-item {
                font-weight: bold;
                text-align: center;
              }
            }
          }
        }
        .control-btns-container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: space-between;
          width: 75%;
        }
      }
    }
  }
}
