.configure-noapi-container {
  .no-api-title {
    font-weight: bold;
  }
  .blue-input {
    max-width: 200px;
  }
  .no-api-servers {
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
}
