@use '../general.config';
@import '../general.config';

.container-sub:hover {
    color: darkblue;
    background-color: lightblue;
    border: 1px dashed blue; 
}
// Extra big screens;
.ant-spin-spinning {
    margin-top: 20%;
}

.ant-spin-spinnings {
  margin: 0 auto;
  width: 100%;
}
.carousel-container {
  display: block;
  width: 100%;

  .subscriptions-detail {
    font-weight: bold;
  }

  .subscriptions-limit,
  .subscriptions-items {
    color: $corporative-color;

    & span {
      background: $secondary-bg;
      color: $light-blue;
      margin-left: 1rem;
      padding: 0.2rem 0.8rem;
      border-radius: 5px;
    }
  }

  .rate-details {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subscription-cancel {
    color: $primary-txt;
    background: $secondary-bg;
    border-radius: 5px;
    font-weight: bold;
    width: auto;
    &:hover {
      color: $primary-txt;
    }
  }

  .currencies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 0 auto;
    margin-top: 2rem;
    column-gap: 1rem;

    .active-currency {
      @include custom-btn-styles($primary, $primary-bg);
    }
  }

  .carousel {
    display: grid;
    position: absolute;
    height: auto;
    margin: 2rem 13rem;
    padding: 0 !important;
    width: auto;
    .subscription {
      background: $primary-bg;
      display: grid;
      place-items: center;
      border-radius: 10px;
      padding: 0.3rem 0.3rem;
      transition: 0.3s ease-in-out;
      width: 89% !important;
      .container-sub {
        width: 100%;
        position: relative;

        .twenty-off,
        .forty-off {
          position: absolute;
          right: 0;
          padding: 0 3px;
          background: $light-gray;
          font-weight: bold;
          border-radius: 5px;
          color: $green;
        }

        .euro {
          left: 28%;
          bottom: 53%;
          color: $primary-txt;
          opacity: 0.56;
        }

        .frequency {
          bottom: 30%;
          right: 25%;
          font-size: $font-small;
        }
      }

      .divider {
        width: 100% !important;
      }
      .monthly-rate {
        margin-top: 0.8rem;
        text-align: center;
      }

      .listings-count {
        margin-bottom: 1rem;
        text-align: center;
        background: $light-blue;
        color: $primary-bg;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.4em;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
  .control-btns-container {
    width: 75%;
    left: 14.5%;
    top: 60%;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }
  .duration {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: $font-small;
  }
}

@media only screen and (max-width: 750px) {
  .subscriptions-container {
    .ant-spin-spinning {
      margin-top: 90%;
    }
    .status-bar {
      display: flex;
      flex-direction: column;
      place-items: center;
    }

    .slick-slide.slick-active.slick-current {
      margin: 0 auto !important;
      .subscription {
        padding-bottom: 1rem !important;
        width: 100% !important;
      }
    }
    .control-btns-container {
      top: 75%;
      left: 10%;
      width: 82%;
    }
    .slick-list {
      width: 60vw !important;
      margin-left: -9rem !important;
    }
    .twenty-off,
    .forty-off {
      margin-top: -20px;
    }
    .frequency {
      right: 10%;
    }
  }
}
