@media only screen and (min-width: 1440px) {
  :root {
    // Responsiveness font sizes

    //Default fonts

    $font-xl: 2rem;
    $font-large: 1.2rem;
    $font-medium: 1rem;
    $font-small: 0.75rem;

    // Spacers & margins

    $spacer: 1rem;
  }
}
