// all colors
$primary: #262E80;
$light-primary: #5e69db;
$white: #fff;
$secondary: #9694ff;
$black: #000;
$green: #228b22;
$light-gray: #f0f0f0;
$snow-gray: #e9e9e9;
$dark-gray: #333;
$spacer: 1rem;
$light-red: #555;
$dark-violet: #777;
$medium-pink: #ef6092;

// text colors



// responsiveness font sizes
$font-large: 1rem;
$font-medium: 0.75rem;



