@import 'general-light.config';
.ant-modal {
  overflow: hidden !important;
}
.selected-products-modal {
  .product-card {
    align-items: center;
    display: flex;
    width: auto;
    background: $white;
    justify-self: space-around;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 1rem;
    height: auto;
    margin-bottom: 1rem;

    .product-img {
      max-width: 100px;
      max-height: 100px;
      min-width: 60px;
      min-height: 60px;
    }
    .product-info-area {
      align-items: center;

      display: flex;
      width: 100%;
      margin: auto 1rem;
      height: 100%;
      overflow: hidden;
      .header {
        line-height: 10px;
        width: 100%;
        align-items: center;
      }
      .source {
        color: $gray;
      }
      .transaction-details {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        .transaction-type {
          color: $gray;
        }
        .transaction-amount {
          font-weight: bold;
        }
        .sell {
          color: $primary;
        }

        .cost {
          color: $light-primary;
        }

        .profit {
          color: $green;
        }
      }
    }

    .close-icon {
      margin-left: auto;
      color: $primary;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .action-btn {
    margin: auto;
    .confirm-btn {
      background: $primary;
    }
  }
}

@media screen and (max-width: 490px) {
  .product-card {
    .product-info-area {
      display: grid !important;
      .header {
        display: flex;

        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
