@import 'general.config';

// Extra large screens

.cover-img {
  width: 35%;
  margin-bottom: 2rem;
}

.descircle {
  margin: 5rem 0;
}
.browsers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  img {
    width: 10%;
  }
}

.install-btn {
  background: $light-primary;
  color: $white;
  border-radius: 10px;
  padding: 0.3rem 3rem;

  &:hover {
    color: $white;
    background: $light-primary;
  }
}

.title,
.description,
.install-text {
  color: $primary !important;
}
.browser-extensions {
  width: 100%;
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: fill-available;
  margin: 0 auto;
  overflow-x: hidden;
  background: $mild-light-blue;

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      border-radius: 1rem;

      width: 70% !important;
      margin: auto;
      .tutorial-section {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
      }
      .upper-section {
        display: grid;
        place-items: center;
      }
      .lower-section {
        margin-top: 2rem;
        display: grid;
        row-gap: 0.5rem;
        place-items: center;
      }
    }
  }
}

// Tablet screens

@media only screen and (max-width: 1000px) {
  .card {
    margin: auto;
  }
}

// mobile phone screen;
@media only screen and (max-width: 750px) {
  .card {
    margin: auto;
  }
}
