@import 'general.config';

// large and extra large screens

.ant-modal-title {
  .source {
    color: $primary;
    font-size: $font-small;
  }
  .title {
    color: $primary !important;
  }
}
.catalog-container {
  .actions-section {
    border-radius: 25px 25px 0px 0px;
    background: $white;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: $spacer;

    .view-clear-all {
      display: flex;
      column-gap: 1rem;
      width: 100%;
    }

    .filters-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .all-selected-products,
    .clear-all {
      font-size: $font-medium;
      cursor: pointer;
      margin-bottom: 0 !important;
    }

    .all-selected-products {
      color: $primary;
    }

    .clear-all {
      color: $red;
    }
  }

  .search-bars-container {
    margin-top: 2rem;
    width: auto;
    display: flex;
    justify-content: flex-start;
  }

  .catalog-cards {
    background: $white;
    margin-top: 0;
    height: auto;
    overflow-y: scroll;
    .cards-container-catalog {
      padding: 3rem;
      width: auto;
      height: 100% !important;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      @mixin product-card {
        border-radius: 10px;
        background: $white;
        width: 15vw;
        min-width: 205px;
        height: 100%;
        margin: 0 auto;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        transition: transform 0.4s;
        &:hover {
          -ms-transform: scale(1.05); /* IE 9 */
          -webkit-transform: scale(1.05); /* Safari 3-8 */
          transform: scale(1.05);
        }

        .img-container {
          margin: 1rem 0;
          height: 25vh;
          width: 100%;
          .product-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .product-description {
          margin: auto 0 !important;
          .product-info-area {
            width: auto;
            height: 100%;
            .header {
              line-height: 8px;
              display: block;
              justify-content: space-between;
              .view-details {
                float: right;
                margin-top: -2.8rem;
                cursor: pointer;
              }
            }

            .source {
              color: $black;
              font-size: 11px;
            }

            .transaction-details {
              display: flex;
              justify-content: space-evenly;
              line-height: 8px;
              .transaction-type {
                color: $gray;
              }
              .transaction-amount {
                font-weight: bold;
              }
              .sell {
                color: $primary;
              }

              .cost {
                color: $light-primary;
              }

              .profit {
                color: $green;
              }
            }
          }
        }
      }

      .product-card {
        @include product-card;
      }

      .selected-product-card {
        @include product-card;
        border: 2px solid $light-primary;
        &:before {
          content: url('../../assets/catalog-imgs/circle-check.svg');
          position: absolute;
          top: -0.9rem;
          left: -0.8rem;
        }
      }
    }
  }

  .pagination-addall-container {
    position: fixed;
    bottom: 0;
    width: calc(100% - 80px);
    white-space: nowrap;
    display: flex;
    background: $white;
    padding: $spacer;

    button {
      margin-right: 20px;
    }
  }
  @media screen and (max-width: 1030px) {
    .pagination-addall-container {
      width: 100% !important;
    }
  }

  .pagination-container {
    margin: auto;
    display: flex;
    width: 100%;
  }
  .adall-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  .cards-container-catalog {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

// tablet's screen sizes

@media only screen and (max-width: 1150px) {
  .cards-container-catalog {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

// small mobile  screen size
@media only screen and (max-width: 750px) {
  .cards-container-catalog {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .actions-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .view-clear-all {
      display: grid !important;
      white-space: nowrap;
    }
  }
  .pagination-addall-container {
    .adall-container {
      .success-btn {
        position: fixed;
        z-index: 1;
        bottom: 8.5%;
        left: 0;
        margin-left: 20%;
        transform: scale(1.2);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .cards-container-catalog {
    grid-template-columns: repeat(1, 1fr) !important;

    .product-card {
      width: 20vh !important;
      min-width: 220px !important;
    }
  }
}
