@import 'general.config';

// large and extra large screens
.ant-modal-title {
  .source {
    color: $primary;
    font-size: $font-small;
  }
  .title {
    color: $primary !important;
  }
}
.catalog-container {
  margin-top: 3rem;
  height: 100vh;
  .header-section {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;

    .catalog {
      margin: 1.5rem 0;
    }
  }

  .actions-section {
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
    margin: 0 4rem;
    .all-selected-products,
    .clear-all {
      font-size: $font-medium;
      cursor: pointer;
    }

    .all-selected-products {
      color: $primary;
    }

    .clear-all {
      color: $red;
    }
  }
  .action-components {
    position: absolute;
    width: auto;
    right: 2rem;
  }
  .search-bars-container {
    margin-top: 2rem;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .advanced-search-btn {
      margin-left: 6rem;
    }
  }

  .cards-container {
    margin-top: 2rem;
    @mixin product-card() {
      border-radius: 10px;
      background: $white;
      width: 19vw;
      height: 46vh;
      cursor: pointer;
      box-shadow: 0px 3px 6px #00000029;
      transition: transform .4s;
      &:hover {
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05);
      };

      .img-container {
        margin: 1rem 0;
        height: 25vh;
        width: 100%;
        .product-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .product-description {
        margin: auto 0 !important;
        .product-info-area {
          width: auto;
          height: 100%;
          .header {
            line-height: 8px;
            display: block;
            justify-content: space-between;
            .view-details {
              float: right;
              margin-top: -2.8rem;
              cursor: pointer;
            }
          }

          .source {
            color: $black;
            font-size: 11px;
          }

          .transaction-details {
            display: flex;
            justify-content: space-evenly;
            line-height: 8px;
            .transaction-type {
              color: $gray;
            }
            .transaction-amount {
              font-weight: bold;
            }
            .sell {
              color: $primary;
            }

            .cost {
              color: $light-primary;
            }

            .profit {
              color: $green;
            }
          }
        }
      }

     
    }

    .product-card {
      @include product-card();
    }

    .selected-product-card {
      @include product-card();
      border: 2px solid $light-primary;
      &:before {
        content: url('../../assets/catalog-imgs/circle-check.svg');
        position: absolute;
        top: -0.9rem;
        left: -0.8rem;
      }
    }
  }

  .pagination {
    margin: 2rem 3rem;
    display: flex;
    background: $white;
    border-radius: 10px;
    padding: 1rem;
    justify-content: space-between;
  }
}

// tablet's screen sizes

@media only screen and (max-width: 1030px) {
  .search-bars-container {
    margin-top: 2rem;
    .advanced-search-btn {
      margin-left: 5rem;
    }
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
    margin: 1rem auto;
    .product-card {
      margin: 1rem auto;
      width: 30vw !important;
    }
  }
}

// small mobile  screen size
@media only screen and (max-width: 750px) {
  .cards-container {
    display: block;
    margin: 0 auto;
    .product-card {
      width: 40vw !important;
    }
  }
  .actions-section {
    display: grid !important;
    row-gap: 1rem;
    place-items: center !important;
    justify-content: center !important;
  }
} ;
