@import 'general.config';

// large and extra large screens

.channel-settings {
  .content {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    margin-top: 2rem;
    padding: 2rem;
    background: $white;
    .action-btns {
      position: fixed;
      right: 2%;
      top: 29%;
      display: flex;
      flex-direction: column;
    }

    .text-section {
      margin-bottom: 5rem;
    }
    .description-and-controls {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      width: 50vw;
      .limit-area,
      .stock-area {
        margin-top: 1rem;
        width: 100%;
        .radio {
          width: 100%;
        }
        .stock-input {
          width: 5vw !important;
        }
        .limit,
        .stock {
          display: flex;
          justify-content: space-between;
        }
      }
      .description-area {
        h4 {
          font-weight: bold;
          font-size: $font-large;
        }
        p {
          font-size: $font-small;
        }
      }
    }
    .config-btns {
      margin-top: 2rem;
    }
  }
}

// Mobile screen sizes

@media only screen and(max-width: 750px) {
  .channel-settings {
    .content {
      .action-btns {
        right: 20%;
        top: 85%;
        flex-direction: row;
        column-gap: 10px;
      }
    }
  }

  .description-and-controls {
    margin-top: 2rem;
  }
  .input-container,
  .switch-container,
  .limit-section {
    margin: 0 auto;
  }

  .limit-section {
    height: auto;
    display: grid !important;
    .limit-area {
      .blue-input {
        margin-top: -1rem;
      }
    }
  }

  .description-and-controls {
    .stock-container{
      .stock-area{
        .radio{
          margin-bottom: 1rem;
        };
        .stock{
         
          row-gap: 1rem;
          .stock-input{
            margin-top: -.6rem;
            width: 35vw !important;
          }
        }
        
      }
    };
  }
}
