@import 'general.config';

// Large screen sizes
.back-to-dashboard {
  margin-top: 5rem;
  width: 15vw;
  color: $primary;
  &:hover {
    color: $primary;
  }
}
.get-started-container {
  margin: 1rem 0 0 0;
  padding: 0 1rem;
  height: auto;
  background: $white;
  .intro-area {
    margin: 2rem auto 0 auto;
  }
  .description-area {
    margin-top: 2rem;
    p {
      color: $black;
    }
    ul {
      list-style-type: none;

      li {
        display: flex;
        .description {
          margin-left: 2rem;
        }
      }
    }
  }

  .updates-area {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    .ebay-location {
      color: $primary;
      &:hover {
        color: $primary;
      }
    }
    .social-media-list {
      list-style-type: none;
      display: flex;
      .list-item {
        margin-left: 2rem;
        .social-media-icon {
          display: block;
          margin-left: 0 auto;
          width: 50px;
          height: 50px;
        }

        .social-media-link {
          text-align: justify;
          font-weight: normal;
          color: $primary;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  .resources {
    // border: 2px solid red;
    margin-top: 2rem;
    .resources-list {
      margin-top: 2rem;
      list-style: none;
      -moz-column-count: 2;
      -moz-column-gap: 5rem;
      -webkit-column-count: 2;
      -webkit-column-gap: 5rem;
      column-count: 2;
      column-gap: 5rem;
     .list-item{
         margin-top: 1rem;
     }
    };
    .list-item-title{
        color: $primary;
        &:hover{
            color: $primary;
        }
    }
  };
.more-help{
    margin-top: 2rem;
    .contact-mail{
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}
}
