@import 'general.config';

// Extra Large screens

.status-bar {
  // margin: auto;
  margin-top: $spacer;
  position: relative;
  padding: $spacer;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2338c129;
}

.status-btn {
  border-radius: 10px !important;
  padding: $spacer * 0.25 0;
  background: none;
}
.active-btn {
  padding: 0.9rem;
  font-size: $font-large;
  font-weight: $bold;

  &:focus {
    border: none !important;
    outline: none !important;
    color: $white;
    background: $light-primary;
  }
}

.inactive-btn {
  background: transparent !important;
  font-size: $font-large;
  font-weight: $bold;
  color: $primary;
}
