@import 'general.config';

// Extra Large screens

.status-bar {
  margin-top: $spacer;
  position: relative;
  padding: $spacer;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2338c129;
}

@mixin status-btn() {
  border-radius: 10px !important;
  padding: 0.9rem 1.5rem;
  width: auto;
  font-size: $font-large;
  font-weight: $bold;
  border: none !important;
  outline: none !important;

  &:focus {
    border: none !important;
    outline: none !important;
  }
}

.active-btn {
  @include status-btn();
  &:focus {
    color: $white;
    background: $light-primary;
  }
}

.inactive-btn {
  @include status-btn();
  background: $light-gray;
  color: $primary;
}


// small screen sizes
@media only screen and (max-width: 750px) {
  .active-btn, .inactive-btn {
    padding: 0.6rem 1.3rem;
    font-size: $font-small;
  }
}