@import 'general.config';

// Extra large screens

//custom class here

.listings-title{
  font-weight: bold;
  color: $primary;
  width: 5vw;
  margin-top: 4rem;
  text-align: left;
}

.table{
  height: 40vh;
  overflow: scroll;
}

.listings-card{
  .listings-cols{
    display: flex !important;
    justify-content: space-between;
    height: auto;
    .cols-list{
      list-style: none;
      -moz-column-count: 2;
      -moz-column-gap: 5rem;
      -webkit-column-count: 2;
      -webkit-column-gap: 5rem;
      column-count: 2;
      column-gap: 5rem;
      li{
        margin-bottom: .5rem;
      }
    }
   
    .cols-amount{
      display: block;
      p, h3 {
        text-align: center;
        color: $primary;
      }
    }
  
  };

}
 

.cols-display-title, .description{
  color: $primary;
  text-align: center;
};

.action-components{
  margin: 0 8rem 0 0;
  display: flex;
  height: 5rem;
  .search-bars-container{
    display: flex;
    justify-content: space-between;
  }
}

.table-info{
  display: flex;
  background: $white;
  margin-top: 1rem;
  padding: 1rem;
  .selected-options{
    margin-left: 2rem;
    .total-selected{
      color: $primary;
    }
    .list{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center ;
      align-items: center;
      background: $mild-light-blue;
      padding: .2rem 2rem;
      border-radius: 16px;
    
      .list-item{
        margin-left: .9rem;
        cursor: pointer;
        color: $primary;
      &:nth-last-child(-n+2):before{
        content: '|';
        margin-right: .2rem;
      }
      };
  
    }
  }

  .total-items{
    margin-left: auto;
  }
};


 // Mobile devices
 @media only screen and (max-width: 750px){
    
  .listings-title, .table, .status-bar{
    margin-top: 3rem;
  };

  .status-bar{
    display: flex;
    justify-content: space-evenly;
    .active-btn{
      margin-left: 1rem;
    }
  }

  .table-info{
    display: grid;
    place-items: center;
    .list{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      .list-item{
        margin-left: 0;
      }
    }
    .total-items{
      margin-right: auto;
    }
  }
}