@import 'general.config';

// Extra large screens

//custom class here

 .listings-cols{
  display: block !important;
  height: auto;
  .cols-list{
    list-style: none;
    li{
      margin-bottom: .5rem;
    }
  }
 
}

.cols-hide-title{
  text-align: center;
};

.action-components{
  margin: 1rem 0;
  display: flex;
}

.table-info{
  display: flex;
  background: $white;
  margin-top: 1rem;
  padding: 1rem;
  .selected-options{
    margin-left: 2rem;
    .total-selected{
      color: $primary;
    }
    .list{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center ;
      align-items: center;
      background: $mild-light-blue;
      padding: .2rem 2rem;
      border-radius: 16px;
    
      .list-item{
        margin-left: .9rem;
        color: $primary;
      &:nth-last-child(-n+2):before{
        content: '|';
        margin-right: .2rem;
      }
      };
  
    }
  }

  .total-items{
    margin-left: auto;
  }
};

// Mobile devices
@media only screen and (max-width: 750px){
  .listings-container {
    .web-search-bar {
      display: none;
    }

    .phone-search-bar {
      margin: 20px 0;
    }
  };
  .table-info{
    display: grid;
    place-items: center;
    .list{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      .list-item{
        margin-left: 0;
      }
    }
    .total-items{
      margin-right: auto;
    }
  }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 1034px) {
  .listings-container {
    .web-search-bar {
      display: none;
    }

    .phone-search-bar {
      margin: 20px 0;
    }
  }
}

// iPads and Tablets

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .listings-container {
    .web-search-bar {
      display: none;
    }

    .phone-search-bar {
      margin: 20px 0;
    }
  }
}

// Screens and laptops
@media only screen and (min-width: 1224px) {
  .listings-table {
    max-height: 53vh;
    overflow-x: scroll;
    .listings-table-head {
      color: $primary;
      white-space: nowrap;
      font-weight: bold;
      position: sticky;
      top: 0;
      background-color: $white;
      font-size: $font-medium !important;
      z-index: 1;
    }
  }
}
