@import 'general-light.config';

// Large and extra large screens;

.listing-description {
  margin-top: 2rem;
  p {
    color: $primary;
    font-size: $font-large;
    font-weight: bold;
  }

  div.DraftEditor-root {
    background-color: $mild-light-blue;
    box-shadow: inset 0px 3px 6px #0000000b;
    width: 100%;
    height: auto;
    padding: 1rem;
  }
 
}
