@import 'general-light.config';

.ant-menu-sub.ant-menu-inline > .ant-menu-item {
  height: 30px;
}

.menu-list {
  list-style: none;
  color: $gray;
  background-color: unset !important;
  margin: 0;
}

.dot-icon {
  margin-right: 1rem;
}

.menu-list:hover,
.dot-icon:hover {
  color: $light-primary;
}
