@import 'general.config';
.ant-layout {
  height: calc(100vh - 0px);
}
// Large and extra large screens
.new-channel-container {
  .stepper {
    display: none;
  }
  .new-channel {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 25px !important;
    background: $white;
  }
}

// mobile phone screen;

@media only screen and (max-width: 1030px) {
  .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    padding-left: 0px !important;
  }
  .new-channel {
    margin: 0 !important;
  }
  .new-channel-container {
    .stepper {
      margin: 1rem 2rem 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > * {
        margin-left: 10px;
      }
      .ant-steps-item {
        border-radius: 3px !important;
        background: $gray !important;
        width: 52px !important;
        height: 13px;
        .ant-steps-item-container {
          .ant-steps-item-icon,
          .ant-steps-item-content {
            display: none;
          }
        }
      }

      .ant-steps-item-finish {
        background: $green !important;
      }
    }
  }
}
