@import 'general.config';

// Large and extra large screens

.new-channel{
    overflow-y: scroll;
    background: $white;
    margin: 2rem 2rem 5rem 5rem;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: fill-available;
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
}