@import './general.config';

.modal-page .modal-header {
  border-bottom: none !important;
  padding-bottom: 0;
}

.order-details-header {
  display: flex;
  flex-direction: column;
}

.modal-title {
  color: $primary;
  font-size: $font-large;
  margin-right: $spacer;
}

.autoordering-state {
  background: $green;
  border-radius: 10px;
  opacity: 1;
  color: $white;
  font-size: $font-small;
  width: 137px;
  height: 27px;
  align-items: center;
  display: flex;
  padding: $spacer;
  font-weight: $bold;
}

.cross-round-iconModal {
  position: absolute;
  right: 5px;
  top: 5px;
}

.order-details-body {
  padding: $spacer;
}

.heading-details {
  font-size: $font-large;
  color: $black;
  font-weight: $bold;
  white-space: nowrap;
}
