@import './general.config';

.order-state-progress-modal {
  padding: $spacer;
}

.modal-page .modal-header {
  border-bottom: none !important;
  padding-bottom: 0;
}

.order-state-header {
  display: flex;
  flex-direction: column;
}

.order-state-body {
  padding: $spacer;
}

.order-state-body-container {
  display: flex;
  flex-direction: column;
}

.modal-title {
  color: $primary;
  font-size: $font-large;
  margin-right: $spacer;
}

.autoordering-state {
  background: $green;
  border-radius: 10px;
  opacity: 1;
  color: $white;
  font-size: $font-small;
  width: 137px;
  height: 27px;
  align-items: center;
  display: flex;
  padding: $spacer;
  font-weight: $bold;
}

.close-modal-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.order-state-body {
  position: relative;
  padding: $spacer;
}

.go-back-details-container {
  margin-top: $spacer;
  display: flex;
  align-items: center;

  & svg {
    cursor: pointer;
    transform: rotate(180deg);
  }
}

.go-back-details {
  font-weight: bold;
  font-size: $font-medium;
  color: $primary;
  cursor: pointer;
}
