@import 'general.config';

// Large and extra large screens

.card-input-element {
  display: none;
}

.platforms-form {
  display: flex;
  .new-description-area {
    display: none;
  }
  .platforms-area {
    .sell-title {
      margin-top: 1rem;
      text-align: center;
      color: $black;
      font-weight: bold;
    }

    .cards-container {
      margin-top: 3rem;
      padding: 2rem;
      box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);

      .platforms-card {
        .input {
          display: none;
          &:checked + .card-input {
            box-shadow: 0 0 1px 1px #39418b;
          }
        }
        .card-input {
          border-radius: 10px;
          box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);

          .description-area {
            margin-top: 1rem;
            & p {
              overflow-wrap: break-word;
              word-wrap: break-word;
              hyphens: auto;
            }
            .amazon-sub {
              font-style: italic;
            }
            .market-place {
              margin: 0.8rem 0;
            }
            .market-place,
            .amazon-sub {
              font-weight: bold;
            }
          }
        }
      }
    }

    .action-area {
      position: absolute;
      top: 90%;
      left: 50%;
      margin: 0 auto;
    }
  }
}

// Tablets screens

@media only screen and (max-width: 1030px) {
  .platforms-form {
    display: block;

    .new-description-area {
      display: grid;
      place-items: center;
      gap: 0;
      margin-top: -8rem;
      .market-place {
        margin-top: -5rem;
        font-weight: bold;
      }

      p {
        margin-top: -10rem;
        text-align: center;
      }

      .amazon-sub {
        font-weight: bold;
        margin-top: 0.4rem;
      }
    }

    .cards-container {
      height: 60vh;
      .platforms-card {
        .card-input {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: auto;
          .platform-img {
            width: 70px;
          }
          .description-area {
            display: none;
          }
        }
      }
    }
  }
}
