@import 'config';

// Extra large screens

.options {
  display: flex;
  justify-content: space-between;
  span {
    cursor: pointer;
  }
  .trash-icon {
    border: 2px solid red;
    background: $black;
  }
}
.pricing-rules-container {

  width: 70%;
  margin: auto;
  margin-top: 1rem;

  .pricing-rules-bar {
    display: block;
    margin: 2rem 0;
    padding: 1rem 2rem;
    height: 20vh;
  }

  .table {
    width: 100%;
    border-radius: 5px;
  }

  .form {
    position: absolute;
    display: flex;

    .select {
      background: $white;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
    }
    .input {
      background: $mild-light-blue !important;
    }
    .rule-btn {
      background: $light-primary;
      color: $white;
    }
    .rule-btn,
    .select,
    .input {
      width: 18%;
      margin-left: 1rem;
      border-radius: 10px;
    }
  }
}
