@import 'general.config';
@import 'config.large';

// Extra large screens
.status-btn {
  border-radius: 18px;
  display: block;
  padding: 0.2rem 1rem;
  width: auto;
}

.enabled {
  color: $green;
}
.options {
  display: flex;
  justify-content: space-between;
  span {
    cursor: pointer;
  }
  .trash-icon {
    background: $black;
  }
}
.pricing-rules {
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: fill-available;
  margin: auto;
  border: 2px solid blue;

  .pricing-rules-bar {
    display: block;
    padding: 1rem 2rem;
    border: 2px solid green;
    margin-bottom: 2rem;
    .form {
      margin-top: 1 rem;
      display: flex;
      .select {
        background: $white;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
      }
  
      .input {
        background: $mild-light-blue !important;
      }
      .rule-btn {
        background: $light-primary;
        color: $white;
      }
      .rule-btn,
      .selector,
      .input {
        width: 18%;
        margin-left: 1rem;
        border-radius: 10px;
      }
    }
  }

  .table {
    width: 100%;
    border-radius: 5px;
  }

 
}
