@import 'general.config';

// Large and extra large screens

.search-bars-container {
  display: flex;
  justify-content: space-between;

  .search-input {
    border-radius: 10px;
    padding: 20px 10px;
    background: $white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;

    .input {
      border: none !important;
      outline: none !important;
      font-weight: bold;
      width: 100%;
    }

    &:focus {
      outline: none;
      border: none;
    }
    .search-icon-btn {
      background: none;
    }
  }

  .advanced-search-btn {
    width: 15%;
    border-radius: 10px;
    padding: 20px 10px;
    background: #c4c4c4;
    display: flex;
    justify-content: space-around;
  }

  .view-columns {
    width: 15%;
    display: flex;
    padding: 20px 5px;
    justify-content: space-around;
    color: $white;
    font-weight: bold;
    background: $secondary !important;
    border-radius: 10px;
  }
}

// Tablets screens

@media only screen and (max-width: 1440px) {
  .search-bars-container {
    width: 100%;
    margin: auto;
    & > * {
      width: inherit;
      margin: 1rem auto;
    }
    .advanced-search-btn {
      max-width: 2rem;
      min-width: fit-content;
    }
  }
}
