@import 'general.config';

// Large and extra large screens

.search-bars-container {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;

  .search-input {
    border-radius: 10px;
    padding: 10px;
    background: $white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;

    .input {
      border: none !important;
      outline: none !important;
      font-weight: bold;
      width: 100%;
    }

    &:focus {
      outline: none;
      border: none;
    }
    .search-icon-btn {
      background: none;
    }
  }

  .advanced-search-btn {
    color: $white;
    font-weight: $bold;
    border-radius: 10px;
    background: $gray;
    justify-content: space-around;
    align-items: center;
    max-width: 200px;
    display: flex;
    padding: 5px;
    height: 100%;
    margin-right: 10px;
    white-space: nowrap;
  }

  .view-columns {
    align-items: center;
    max-width: 200px;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    color: $white;
    font-weight: $bold;
    background: $light-blue;
    border-radius: 10px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 750px) {
  .view-columns,
  .advanced-search-btn {
    display: none !important;
  }
  .search-input {
    width: 100%;
    margin: 0 !important;
  }
}
