@import 'general.config';

.new-acc-btn {
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
}

.new-acc-input {
  border: 2px solid green;
  &:after {
    content: url('../../assets/new-account.svg');
    margin-top: 0.2rem;
    position: absolute;
    // right: 3%;
    cursor: pointer;
  }
}

.selector {
  width: 100%;
  &:focus {
    border: none !important;
    outline: none !important;
  }

  .ant-select-selector {
    border-radius: 7px !important;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%) !important;

    &::before {
      content: '▼';
      margin-top: 0.2rem;
      position: absolute;
      right: 3%;
      cursor: pointer;
    }
  }
}
