@import 'config';

// mobile devices breakpoints

@media screen and (min-width: 320px) and (max-width: 480px) {
  .sidebar-container {
    border-top: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    flex: 0 0 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 111 !important;
    height: 100%;

    .side-menu-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .sidebar-overhead {
        display: flex;
        margin-top: 1rem;

        .logo-container {
          margin-top: 1rem;
          .logo {
            width: 40px;
            height: 40px;
          }

          .logo-text {
            display: none;
          }
        }

        .quota-container {
          position: absolute;
          display: flex;
          justify-content: space-evenly;
          margin-top: 1rem;
          margin: 1rem 3rem;
          .quota {
            display: flex;
            .quota-text {
              display: none;
            }
            .quota-progress {
              margin-top: 1rem;
            }
          }

          .update-btn {
            border-radius: 20px;
            color: $white;
            background: $primary 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            opacity: 1;
            width: 90px;
            padding: 1rem 0;
            margin-left: 1rem;
          }
        }
      }

      .sidebar-btns {
        position: absolute;
        right: 0;
        margin-top: 10px;

        .fa-chevron-left {
          margin-top: $spacer * 0.25 !important;
          padding-top: $spacer * 0.25 !important;
          cursor: pointer !important;
          color: $white;
          width: 30.02px;
          height: 30.02px;
          border-radius: 8px;
          background: $light-primary;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .sidebar-pin {
          margin-top: $spacer * 0.25;
          background: $light-gray;
          border-radius: 8px;
          padding: $spacer * 0.25;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .logout {
        position: absolute;
        padding-bottom: 25px;
        font-size: 16px;
        bottom: 0;
        right: 10%;
        background: transparent;
        color: $medium-pink;
        cursor: pointer;
        display: inline-block;

        .hide-logout-text {
          display: none;
        }
      }
    }
  }
}

// iPads and Tablets

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .sidebar-container {
    border-top: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    flex: 0 0 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 111 !important;
    height: 100%;

    .side-menu-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .sidebar-overhead {
        display: flex;
        margin-top: 1rem;

        .logo-container {
          margin-top: 1rem;
          .logo {
            width: 40px;
            height: 40px;
          }

          .logo-text {
            display: none;
          }
        }

        .quota-container {
          position: absolute;
          display: flex;
          justify-content: space-evenly;
          margin-top: 1rem;
          margin: 1rem 3rem;
          .quota {
            display: flex;
            .quota-text {
              display: none;
            }
            .quota-progress {
              margin-top: 1rem;
            }
          }

          .update-btn {
            border-radius: 20px;
            color: $white;
            background: $primary 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            opacity: 1;
            width: 90px;
            padding: 1rem 0;
            margin-left: 1rem;
          }
        }
      }

      .sidebar-btns {
        position: absolute;
        right: 0;
        margin-top: 10px;

        .fa-chevron-left {
          margin-top: $spacer * 0.25 !important;
          padding-top: $spacer * 0.25 !important;
          cursor: pointer !important;
          color: $white;
          width: 30.02px;
          height: 30.02px;
          border-radius: 8px;
          background: $light-primary;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .sidebar-pin {
          margin-top: $spacer * 0.25;
          background: $light-gray;
          border-radius: 8px;
          padding: $spacer * 0.25;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .logout {
        position: absolute;
        padding-bottom: 25px;
        font-size: 16px;
        bottom: 0;
        right: 10%;
        background: transparent;
        color: $medium-pink;
        cursor: pointer;
        display: inline-block;

        .hide-logout-text {
          display: none;
        }
      }
    }
  }
}

// medium screens and laptops
@media only screen and (min-width: 1224px) {
  .sidebar-container {
    margin-top: 5.2rem;
    min-width: 80px;
    border-top: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    flex: 0 0 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 111 !important;
    height: 100vh;
    overflow-y: auto;

    .side-menu-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .sidebar-overhead {
        .logo-container,
        .quota-container {
          display: none;
        }
      }
      .sidebar-btns {
        position: absolute;
        right: 10px;
        margin-top: 10px;

        .fa-chevron-left {
          margin-top: $spacer * 0.25 !important;
          padding-top: $spacer * 0.25 !important;
          cursor: pointer !important;
          color: $white;
          width: 30.02px;
          height: 30.02px;
          border-radius: 8px;
          background: $light-primary;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .sidebar-pin {
          margin-top: $spacer * 0.25;
          background: $light-gray;
          border-radius: 8px;
          padding: $spacer * 0.25;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .logout {
        padding-bottom: 25px;
        font-size: 16px;
        margin-top: 3rem;
        background: transparent;
        color: $medium-pink;
        cursor: pointer;
        display: inline-block;

        .hide-logout-text {
          display: none;
        }
      }
    }
  }
}

// Large screens
@media only screen and (min-width: 1824px) {
  .sidebar-container {
    margin-top: 5.2rem;
    min-width: 80px;
    border-top: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    flex: 0 0 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 111 !important;
    height: 100vh;

    .side-menu-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .sidebar-overhead {
        .logo-container,
        .quota-container {
          display: none;
        }
      }
      .sidebar-btns {
        position: absolute;
        right: 10px;
        margin-top: 10px;

        .fa-chevron-left {
          margin-top: $spacer * 0.25 !important;
          padding-top: $spacer * 0.25 !important;
          cursor: pointer !important;
          color: $white;
          width: 30.02px;
          height: 30.02px;
          border-radius: 8px;
          background: $light-primary;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .sidebar-pin {
          margin-top: $spacer * 0.25;
          background: $light-gray;
          border-radius: 8px;
          padding: $spacer * 0.25;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .logout {
        padding-bottom: 25px;
        font-size: 16px;

        margin-top: 3rem;
        background: transparent;
        color: $medium-pink;
        cursor: pointer;
        display: inline-block;

        .hide-logout-text {
          display: none;
        }
      }
    }
  }
}
