@import 'general.config';

// Large and extra large screens
.toggle-mode {
  margin-left: 0.5rem;
}
.ant-menu-submenu-popup,
.ant-tooltip {
  display: none;
}

.sider {
  margin-top: -0.3rem;
  border-top: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }

  .ant-layout-sider-children {
    overflow: scroll;
  }

  .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-right: none !important;
  }

  .menu-item,
  .ant-menu-submenu {
    color: $black;
    width: 90% !important;
    margin: auto !important;
    margin-top: 10px !important;
    border-radius: 10px !important;
    .ant-menu-submenu-vertical {
      border-radius: 10px;
    }
    &:hover {
      .ant-menu-submenu-arrow,
      .ant-menu-submenu-title {
        color: $white;
      }
    }
  }

  .sidebar-icon {
    margin-left: -0.3rem;
  }
  .sidebar-icon > * {
    stroke: $primary !important;
  }
  .menu-item:hover,
  .submenu-item:hover,
  .ant-menu-item-selected {
    .sidebar-icon > * {
      stroke: $white !important;
    }
  }

  .menu-item:hover,
  .ant-menu-submenu-vertical:hover,
  .ant-menu-submenu-inline:hover,
  .ant-menu-item-selected {
    color: $white !important;
    background: $light-primary !important;
  }

  .menu-list {
    color: $gray;
    &:hover {
      font-weight: $bold !important;
    }
  }

  .ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
    background: transparent !important;
    font-weight: $bold;
  }

  // Hover transitions

  .ant-menu-inline.ant-menu-root .ant-menu-item,
  .ant-menu-inline.ant-menu-root .ant-menu-submenu-title,
  .ant-menu-title-content,
  .ant-menu-submenu,
  .ant-menu-submenu-inline,
  .ant-menu-submenu-expand-icon,
  .ant-menu-submenu-arrow,
  .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-arrow::before,
  .ant-menu-submenu .ant-menu-submenu-inline .submenu-item,
  .ant-menu-title-content {
    transition: none !important;
  }

  .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background: none !important;
  }
  .side-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    margin: 3rem auto;

    .sidebar-overhead {
      .logo-container,
      .quota-container {
        display: none;
      }
    }
    .sidebar-control-btns {
      position: absolute;
      right: 5%;
      top: 1%;

      .pin-icon {
        cursor: pointer;
      }
    }

    .logout {
      padding-bottom: 25px;
      font-size: 16px;
      margin-top: 3rem;
      background: transparent;
      color: $dark-red;
      cursor: pointer;
      display: inline-block;

      .hide-logout-text {
        display: none;
      }
    }
  }
}

// Tablets screens

@media only screen and (max-width: 1030px) {
  .sider {
    display: none;
    z-index: 3;
  }
  .overlay-sidebar-mobile {
    position: fixed;
    right: 0;
    top: 0;
    left: 29%;
    background-color: rgba(0, 0, 0, 0.23);
    height: 100%;
    z-index: 2;
  }
}

.ant-menu-item .ant-menu-title-content {
  padding-left: 26px;
}

.ant-menu-item::after {
  border-right: 0px !important;
}

.ant-menu-submenu-title .ant-menu-title-content {
  padding-left: 26px;
}

.ant-menu.ant-menu-sub {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-menu-title-content {
  font-weight: 400;
}
