@import 'general.config';

// Large and extra large screens

.sider {
  min-width: 80px;
  border-top: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  flex: 0 0 80px;
  position: absolute;
  left: 0;
  z-index: 111 !important;
  height: 100vh;
  overflow-y: scroll;

  .side-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sidebar-overhead {
      .logo-container,
      .quota-container {
        display: none;
      }
    }
    .sidebar-btns {
      position: absolute;
      right: 10px;
      margin-top: 10px;

      .fa-chevron-left {
        margin-top: $spacer * 0.25 !important;
        padding-top: $spacer * 0.25 !important;
        cursor: pointer !important;
        color: $white;
        width: 30.02px;
        height: 30.02px;
        border-radius: 8px;
        background: $light-primary;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .sidebar-pin {
        margin-top: $spacer * 0.25;
        background: $light-gray;
        border-radius: 8px;
        padding: $spacer * 0.25;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .logout {
      padding-bottom: 25px;
      font-size: 16px;
      margin-top: 3rem;
      background: transparent;
      color: $medium-pink;
      cursor: pointer;
      display: inline-block;

      .hide-logout-text {
        display: none;
      }
    }
  }
}

// Tablets screens

@media only screen and (max-width: 1030px) {
  .sider {
    display: none;
  }

  .overlay-sidebar-mobile {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.23);
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
  }
}

.ant-menu-item .ant-menu-title-content {
  padding-left: 26px;
}

.ant-menu-submenu-title .ant-menu-title-content {
  padding-left: 26px;
}

.ant-menu.ant-menu-sub {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-menu-title-content {
  font-weight: 400;
}
