@import 'general.config';

.search-options-area {
  display: flex;
  margin: 0 0 1rem 0;
  justify-content: space-between;
  .action-components {
    width: 100%;
    margin-left: 0;
    margin: auto;
    .ant-input-wrapper {
      width: 100% !important;
    }
  }

  .search-bars-container {
    display: flex;
    margin: auto 0;
    width: auto;
  }
}
