@import 'general.config';

// Large and extra large screens

.ant-input-wrapper {
  box-shadow: inset 0px 3px 6px #0000000b;
  opacity: 1;
  .ant-input-affix-wrapper {
    height: 2.2rem !important;
    background: $white;
    border-radius: 10px !important;
    border: none;
    outline: none;
    &:focus {
      border: none !important;
      outline: none !important;
    }
  };
  .ant-input-group-addon {
    display: none;
  };
}
@mixin action-btn {
  width: 13rem;
  height: 3rem;
  margin-top: 0.8rem;
  border-radius: 10px;
  background-color: $primary;
  margin-left: 3rem;
  color: $white;

  &:hover,
  &:focus {
    background-color: $primary;
    color: $white;
  }
}

.advanced-search-btn {
  @include action-btn();
}
.view-columns-btn {
  @include action-btn();
};

.view-all-selected-products{
  @include action-btn();
  background: transparent;
  color: $primary;
  &:hover, &:focus{
    background: transparent;
    color: $primary;
  }
};

.add-all-products, .clear-all-products{
  margin:0 9rem 0  auto;
}

// Phone screen size.
@media only screen and (max-width: 1030px) {
  .ant-input-wrapper {
    width: 90vw !important;
  }
  .search-bars-container {
    margin: 0 auto;
    width: 100%;
    display: grid !important;
    place-items: center;
    
    & > * {
      margin: .8rem 5rem;
    }
  }
}
