@import 'general-light.config';

// Large and extra large screens

.ant-input-wrapper {
  box-shadow: inset 0px 3px 6px #0000000b;
  opacity: 1;
  .ant-input-affix-wrapper {
    height: 2.2rem !important;
    background: $white;
    border-radius: 10px !important;
    border: none;
    outline: none;
    &:focus {
      border: none !important;
      outline: none !important;
    }
  }
  .ant-input-group-addon {
    display: none;
  }
}
@mixin action-btn {
  width: fit-content;
  border-radius: 10px;
  background-color: $light-blue;
  margin-left: 1rem;
  color: $white;

  &:hover,
  &:focus {
    background-color: $light-blue;
    color: $white;
  }
}

.advanced-search-btn {
  @include action-btn;
}
.view-columns-btn {
  @include action-btn;
}

.filters-btn {
  @include action-btn;
  background: $light-primary;
  &:hover {
    background: $light-primary;
  }
}
.view-all-selected-products {
  background: none;
  color: $primary;
  border: none;
  margin: 1.5rem 2rem;
  cursor: pointer;
  &:hover,
  &:focus {
    background: none;
    color: $primary;
  }
}

.add-all-products,
.clear-all-products {
  margin: 0 9rem 0 auto;
}
