@import 'general.config';

// Large and extra large screens

.action-components{
  .ant-input-wrapper{
    margin: 2rem 0;
    border-radius: 10px;
    border: none !important;
    outline: none !important;
    font-weight: $bold;
    background: $white;
    width: 40vw !important;
    &:focus{
      border: none !important;
      outline: none !important;
    };

    .ant-input-group-addon{
      display: none;
    }
  }
  .search-bars-container {
    margin: $spacer 5rem $spacer auto;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    height: auto;
    
    @mixin action-btn{
      width: 345px;
      height: 50px;
      border-radius: 10px;
      background-color: $primary;
      margin-left: 1rem;
      color: $white;
    };
  
    .advanced-search-btn {
      @include action-btn;
    }
    .view-columns {
      @include action-btn;
    };
  }
}




@media screen and (max-width: 750px) {
  .view-columns,
  .advanced-search-btn {
    display: none !important;
  }
  .search-input {
    width: 100%;
    margin: 0 !important;
  }
}
