@import 'general-light.config';

// Large and extra large screens

// Manage(delete/keep) accounts

.modal-title {
  margin-bottom: 1rem;
}
.modal-title,
.confirm-text {
  color: $primary;
}
.listings-container {
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: fill-available;
}

.danger-text {
  color: $red;
}

.linked-store {
  display: flex;
  padding: 1rem;
  border-radius: 10px;
  background: $light-gray;
  margin: 1rem 0;
  & > * {
    margin-left: 0.4rem;
  }
  img {
    width: 5%;
  }
}

.confirm {
  display: flex;

  .confirm-text {
    margin-left: 1rem;
  }
}
.action-btns {
  display: flex !important;
  height: auto !important;
  justify-content: space-between;

  .disabled {
    background: rgba($light-primary, 0.2);
    color: $white;
    border-radius: 8px;
    &:hover {
      background: rgba($light-primary, 0.2);
      color: $white;
    }
  }
}

.top-bar-item {
  margin: 0 1rem;
  display: flex;

  .tokens-container {
    color: $black;
    display: flex;
    align-items: center;
    line-height: 1px;
    cursor: pointer;
    margin: auto;

    justify-content: center;

    .token-icon {
      width: 30px;
    }

    .token-number {
      font-size: $font-medium;
      font-weight: $semibold;
      margin: 0 $spacer * 0.25;
    }

    .tokens {
      display: inline;
      font-size: $font-medium;
    }
  }

  .notifications-container {
    display: flex;

    line-height: 1px;
    cursor: pointer;

    width: fit-content;
    justify-content: center;
    .notifications {
      font-weight: bold;
      font-size: $font-medium;
      display: inline;
    }
  }
}

.top-bar {
  height: 60px;
  width: 100%;
  position: sticky;
  padding: 10px;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  background: $white !important;

  .action-btns {
    display: flex;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
    .logo {
      top: 12px;
      left: 38px;
      width: 37px;
      height: 40px;
      opacity: 1;
    }

    .logo-link {
      display: flex;
    }

    .logo-text {
      color: $primary;
      margin: auto;
      font-size: $font-large;
    }
  }
  .menu-burger {
    display: none;
  }

  .quota-container-topbar {
    align-items: center;
    margin-right: 1%;
    padding: 5px;
    width: 90%;
    display: flex;
    justify-content: center;

    .quota-container {
      width: 500px;
      margin: auto;
      display: flex;

      .quota {
        display: flex;
        .quota-text,
        .quota-progress {
          padding-top: 17px;
        }
      }
    }
    .progress-bar {
      .ant-progress-bg {
        background-color: $primary !important;
      }

      width: 30%;
      border-radius: 12px;
      background: transparent;
      margin: auto;
    }
    .update-btn {
      border-radius: 20px;
      color: $white;
      background: $primary 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
      width: 113px;
      height: 30px;
      margin: auto;
      transition: 0.3s;

      &:hover {
        background: $light-primary;
        transition: 0.3s;
        width: 123px;
      }
    }
  }
}

.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  border: solid 2px $gray;
  opacity: 1;
  height: 30px;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.137) 0px 5px 5px;
    transition: 0.5s;
  }

  &:focus {
    border: none !important;
    outline: none !important;
  }

  .btn-arrow-container {
    background: none !important;
    & :focus {
      text-decoration: none !important;
      border: none !important;
    }
    .down-arrow-icon {
      width: 10px;
    }
  }

  .store-name {
    font-size: $font-medium;
    padding-left: $spacer;
  }

  .flag {
    padding-left: 5px;
  }

  .company {
    padding-left: 2px;
  }

  .dropdown-menu {
    z-index: 1;
    width: 100%;
    height: 36vh;
    overflow-y: scroll;
  }

  .dropdown-toggle {
    background: transparent !important;
    outline: none !important;
    color: $black;
    &:focus,
    &:active {
      border: transparent !important;
      outline: none !important;
      border: none !important;
    }
  }
}

//Hover elements effect

.tokens-container:hover,
.notifications-container:hover {
  transition: all 0.5s ease;
  background: $light-gray;
  border-radius: 25px;
}

// Tablets and iPads screen

@media only screen and (max-width: 1030px) {
  .top-bar {
    width: auto !important;
    .logo-container,
    .quota-container {
      display: none !important;
    }

    .quota {
      display: none !important;
    }
    .menu-burger {
      display: block;
      cursor: pointer;
      width: auto;
      border-radius: 8px;
      padding: 12px;
      background: $light-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .second {
        margin: 5px 0;
      }

      & span {
        display: inline-block;
        width: 20px;
        height: 2px;
        background: $white;
      }
    }

    .dropdown {
      .store-name {
        display: none;
      }
    }

    .top-bar-nav {
      justify-content: end;
      .progress-bar,
      .update-btn {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .tokens {
    display: none !important;
  }
  .top-bar-item {
    margin: 0 0.2rem;
  }
}
