@import 'general.config';

// Large and extra large screens

.top-bar {
  height: 60px;
  position: sticky;
  padding: 10px;
  top: 0;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  background: $white !important;

  .logo-container {
    display: flex;
    .logo {
      top: 12px;
      left: 38px;
      width: 37px;
      height: 40px;
      opacity: 1;
    }

    .logo-link {
      display: flex;
    }

    .logo-text {
      color: $primary;
      margin: auto;
      font-size: $font-large;
    }
  }
  .menu-burger {
    display: none;
  }

  .top-bar-nav {
    margin-right: 1%;
    padding: 5px;
    width: 90%;
    display: flex;
    justify-content: flex-end;

    .notifications {
      margin-top: 1rem;
    }

    & > * {
      margin-left: 3rem;
    }

    .quota-container {
      width: 500px;
      margin: auto;
      display: flex;

      .quota {
        display: flex;
        .quota-text,
        .quota-progress {
          padding-top: 17px;
        }
      }
    }
    .progress-bar {
      width: 30%;
      border-radius: 12px;
      background: transparent;
      margin: auto;
    }
    .update-btn {
      border-radius: 20px;
      color: $white;
      background: $primary 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
      width: 113px;
      height: 30px;
      margin: auto;
    }

    .notifications-container {
      .notifications {
        font-weight: bold;
        font-size: $font-large;
        display: inline;
        margin-left: $spacer;
      }
    }

    .tokens-container {
      color: $primary;
      display: flex;
      align-items: center;
      line-height: 1px;
      cursor: pointer;
    }

    .token-number {
      font-size: $font-large;
      font-weight: bold;
      margin: 0 $spacer * 0.25;
    }

    .tokens {
      display: inline;
      font-size: $font-large;
      font-weight: bold;
    }
    .dropdown {
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 15px;
      box-shadow: 0px 2px 6px #00000029;
      border-radius: 10px;
      opacity: 1;
      margin: auto;
      height: 30px;
      padding: 15px 5px 15px 5px;
      cursor: pointer;

      &:focus {
        border: none !important;
        outline: none !important;
      }

      .country-name {
        font-size: $font-large;
        padding-left: $spacer * 0.25;
        margin-right: $spacer * 0.25;
        line-height: $spacer * 0.25;
        font-weight: bold;
      }

      .flag {
        line-height: $spacer * 0.25;
      }

      .company {
        margin: 0 $spacer * 0.25;
        line-height: $spacer * 0.25;
      }

      .dropdown-menu {
        z-index: 1;
        width: 100%;
        height: 36vh;
        overflow-y: scroll;
      }

      .dropdown-toggle {
        background: transparent !important;
        outline: none !important;
        color: $black;
        &:focus,
        &:active {
          border: transparent !important;
          outline: none !important;
          border: none !important;
        }
      }
    }
  }
}

// Tablets and iPads screen

@media only screen and (max-width: 1030px) {
  .top-bar {
    width: auto !important;
    .logo-container,
    .quota-container {
      display: none !important;
    }

    .quota {
      display: none !important;
    }
    .menu-burger {
      display: block;
      cursor: pointer;
      width: auto;
      border-radius: 8px;
      padding: 12px;
      background: $light-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .second {
        margin: 5px 0;
      }

      & span {
        display: inline-block;
        width: 20px;
        height: 2px;
        background: $white;
      }
    }

    .top-bar-nav {
      padding-top: 10px;
      margin: auto;

      .progress-bar,
      .notifications,
      .country-name,
      .update-btn {
        display: none;
      }
    }
  }
}
