// all colors
$primary: #262E80;
$white: #fff;
$secondary: #9694ff;
$black: #000;
$green: #228b22;
$dark-gray: #333;
$spacer: 1rem;
$light-red: #555;
$dark-violet: #777;



// text colors



// responsiveness font sizes
$font-large: 16px;



