@media (max-width: 1400px) {
  :root {
    /* -- font sizes --- */
    --text-heading: 22px;
    --font-xl: 18px;
    --font-large: 14px;
    --sub-heading: 16px;
    --font-medium: 12px;
    --font-small: 10px;
    --ignoreme: #000;
  }

  .listingTableRow label {
    width: 24px;
    height: 24px;
    margin-left: 5px !important;
  }
  .tickIcon {
    width: 24px;
    height: 24px;
  }
}
