:root {
  --logoHeight: 62px;
  --logoWidth: 60px;
  --topBarHeight: 90px;
  --color-262E80: #262e80;
  --color-fff: #fff;
  --color-000: #000;
  --color-5e69db: #5e69db;
  /* --- named colours --- */
  --txtBaseColor: #000;
  --active-bg: #5e69db;
  --bgInputLight: #f2f8ff;
  --bgBlue: #5e84db;
  --bgPage: #fff;
  --bgPage2: rgb(240, 242, 245);
  --bgLighter: var(--bgPage);
  --dBlue: #262e80;
  --logIconColor: #ef6092;
  --iconColor: #ef6092;
  --navLinkColor: #000;
  --navLinkColorHover: #000;
  --inputColor: #000;
  --inputBg: #fff;
  --placeholderColor: #000;
  --bgHighlight: #fff;
  --tableBg: #fff;
  --txtHighlight: #262e80;

  --borderColor: #e9e9e9; /* rgb(222, 226, 230);*/
  --borderPrimary: var(--txtHighlight);
  /* -- font sizes --- */
  --font-large: 18px;
  --font-medium: 16px;
  --font-small: 14px;
  --ignoreme: #000;

  --color-dark-violet: #262e80;
  --color-primary: #5e69db;
  --color-violet-shade-1: #5763de;
  --color-violet-shade-2: #9694ff;
  --color-violet-shade-3: #6a74de;
  --color-white: #fff;
  --color-black: #000;
  --color-light-violet: #f7f9fd;
  --color-light-pink: #ef6092;
  --color-dark-pink: #f12b70;
  --color-dark-green: #228b22;
  --color-light-green: #5ac35a;

  /* FONT VARIALBES */
  --font-18: var(--font-large);
  --font-16: var(--font-medium);
  --font-14: var(--font-small);

  --searchbarHeight: 58px;
  --siderWidth: 40px;
  --box-shadow-color: rgba(35, 56, 193, 0.16);
}

.btn:hover {
  color: var(--navLinkColorHover);
}

/****** Overrides of ant stuff ********/
/*#region Ant */
body {
  color: var(--txtBaseColor) !important;
  background-color: var(--bgPage) !important;
}
/* override of ant stuff */

/* aside.ant-layout-sider { max-width: var(--siderWidth) !important; min-width: var(--siderWidth) !important; width: var(--siderWidth) !important; } */

.ant-layout-sider.sidebarInitial {
  min-width: var(--siderWidth);
  width: var(--siderWidth);
  flex: 0 0 var(--siderWidth);
}

.bg-white {
  background-color: var(--bgHighlight) !important;
}
.input-group,
.input-group-text {
  background-color: var(--inputBg) !important;
  border-color: var(--borderColor) !important;
}
input {
  background-color: var(--inputBg) !important;
  color: var(--inputColor);
}
::placeholder {
  color: var(--placeholderColor) !important;
}

.border,
.ant-menu-vertical {
  border-color: var(--borderColor) !important;
}
.ant-layout {
  background-color: var(--bgPage2) !important;
}
.ant-table {
  background-color: var(--tableBg) !important;
  border-color: var(--borderColor) !important;
}
.ant-table-thead {
  background-color: var(--bgLighter) !important;
  border-bottom-color: var(--borderColor) !important;
}
.ant-table-cell {
  background-color: var(--bgPage) !important;
  border-color: var(--borderColor) !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: var(--color-fff) !important;
  background-color: var(--active-bg) !important;
}
.ant-table-cell {
  background-color: var(--bgPage) !important;
  border-color: var(--borderColor) !important;
}
.ant-menu,
.ant-layout-sider {
  background-color: var(--bgPage) !important;
}
.ant-menu-title-content {
  color: var(--navLinkColor);
}
.ant-menu-icon,
.ant-menu-item img,
.menu-item img,
.pinButton img {
  color: var(--iconColor);
  filter: var(--svgColorFilter);
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .active-white-svg {
  filter: brightness(100);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: var(--color-white) !important;
  background-color: var(--color-primary) !important;
}
/* .ant-menu-submenu:not(.ant-menu-horizontal) .ant-menu-item-selected:hover {
  background-color: transparent !important;
  color: black !important;
} */
.ant-menu-item.ant-menu-item-active:hover {
  color: var(--color-white) !important;
  background-color: var(--color-primary) !important;
}
.ant-menu-submenu.ant-menu-submenu-active:hover {
  color: var(--color-white) !important;
  background-color: var(--color-primary) !important;
}
.ant-menu-submenu.ant-menu-submenu-active:hover .ant-menu-submenu-arrow {
  color: var(--color-white) !important;
}

.ant-menu-submenu.ant-menu-submenu-active:hover .ant-menu-submenu-title .ant-menu-title-content {
  color: var(--color-white) !important;
}
.ant-menu-item.ant-menu-item-active.ant-menu-item-only-child:hover {
  color: unset !important;
  background-color: unset !important;
}
/* HOVER SVG  */

.ant-menu-submenu.ant-menu-submenu-active:hover svg circle {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover svg circle {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover svg #Path_10 {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover .help-icon ellipse {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover .setting-icon path {
  fill: var(--color-white);
}

.ant-menu-submenu.ant-menu-submenu-active:hover .help-icon #Path_13 {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover .help-icon line {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .list-now-icon circle {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .list-now-icon line {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .dashboard-icon rect {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .listing-icon line {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .catalog-icon #Path_6,
.ant-menu-item.ant-menu-item-active:hover .catalog-icon #Path_5,
.ant-menu-item.ant-menu-item-active:hover .catalog-icon line {
  stroke: var(--color-white);
}

.ant-menu-item .ant-menu-title-content {
  margin: 0 !important;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: unset !important;
  color: black !important;
}
/*#endregion */

.TopBar {
  height: var(--topBarHeight);
}

.storeSelector {
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingStoreSelector);
}

.TopBarItems {
  align-items: center;
  width: 100%;
}

.logoHGR {
  height: var(--logoHeight);
  width: var(--logoWidth);
}

.table-header > div {
  font-size: var(--font-18);
  color: var(--color-dark-violet);
  font-weight: bold;
  margin: 0 0 1em 0;
}
.listingTableRow {
  display: flex;
  align-items: flex-start;
  justify-items: stretch;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  grid-column-gap: 9px;
  /*flex-direction: column;*/
}
.listingTableRow > div {
  flex-grow: 1;
  flex-shrink: 0;
  /* flex-basis: 0%; */
  flex-basis: 0;
  text-overflow: 'ellipsis';
  overflow: hidden;
}

.listingTableRow > div:nth-child(2) {
  flex-grow: 1;
}

.svgIcon {
  display: inline-block;
  filter: var(--svgColorFilter);
}
.tickIcon {
  width: 30px;
  height: 30px;
}
