@media (max-width: 700px) {
  :root {
    --paddingStoreSelector: 1px;
    --logoHeight: 42px;
    --logoWidth: 40px;
    --topBarHeight: 60px;

    /* -- font sizes --- */
    --text-heading: 16px;
    --font-xl: 14px;
    --sub-heading: 14px;
    --font-large: 10px;
    --font-medium: 8px;
    --font-small: 8px;
    --font-extra-small: 10px;

    /* FONT VARIALBES */
    --font-18: var(--font-large);
    --font-16: var(--font-medium);
    --font-14: var(--font-small);
  }

  /* this is the store selector */

  .storeSelector {
    justify-content: space-between;
    align-items: center;
    padding: var(--paddingStoreSelector);
    width: 140px;
    margin: 5px;
  }

  .storeSelector img {
    height: 16px !important;
    width: 16px !important;
  }

  .TopBar {
    height: var(--topBarHeight);
  }

  .TopBarItems > div > img {
    height: 20px;
    width: 20px;
  }

  .logoHGR {
    height: var(--logoHeight);
    width: var(--logoWidth);
  }

  /* #Group_41 {
    display: none;
  } */

  .listingTableRow label {
    width: 20px;
    height: 20px;
    margin-left: 0 !important;
  }

  /* .listingTableRow img {
    display: none;
  } */

  .listingTableRow svg {
    width: 16px;
    height: 16px;
  }

  .searchBar {
    height: 50px !important;
  }

  .searchBar img {
    width: 12px;
    height: 12px;
  }

  /* this is the Active/pending/terminated nav bar */
  .p-3.header-box-shadow {
    padding: 0 !important;
  }

  /* this is the container for the search bar*/
  .input-group.br-10.input-group-sm.rounded.px-3.bg-white.z-0 {
    padding: 0 1rem 0 1rem !important;
  }
  input.search_placeholder {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .searchBar {
    height: 43px !important;
  }
}

@media (max-width: 576px) {
  .storeSelector {
    width: unset;
  }
  .searchBar {
    height: 33px !important;
  }
}
