@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.blue {
  color: #5e84db;
}
.bg-lighter {
  background-color: #f0f2f5;
}

label {
  width: 100%;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 15px 13px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #39418b;
}

.card-input-flag:checked + .card-input {
  box-shadow: 0 0 1px 4px #39418b85;
}

.invert {
  filter: invert(1);
}
.w-sidebar-toggle {
  width: 80px;
  z-index: 1;
  /* height: 100vh; */
  overflow-x: visible;
}
.br-8 {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
.br-15 {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.border-primary {
  border-color: #262e80 !important;
}
.bg-input-light {
  background-color: #f2f8ff;
}
.bg-blue {
  background-color: #5e84db;
}
.d-blue {
  color: #262e80;
}
.bg-d-blue {
  background-color: #262e80;
}
button:focus {
  outline: none !important;
}
.purple {
  color: #9694ff;
}

.d-purple {
  color: #6a74de;
}
.bg-d-purple {
  background-color: #6a74de;
}
.bg-purple {
  background-color: #9694ff;
}
.pink {
  color: #ef6092;
}
.bg-pink {
  background-color: #ef6092;
}
.green {
  color: #5ac35a;
}
.bg-green {
  background-color: #5ac35a;
}
.d-green {
  color: #228b22;
}
.bg-d-green {
  background-color: #228b22;
}
.bg-trans {
  background: transparent !important;
}
.lh-1 {
  line-height: 1 !important;
}
.ant-layout-content {
  padding-left: 1.3% !important;
  padding-right: 1.3% !important;
  padding-top: 0.9% !important;
}
.yellow {
  color: yellow;
}
.ant-input-group-addon,
.ant-input-affix-wrapper,
button {
  border: 0 !important;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: none !important;
}
.w-fit {
  width: fit-content;
}
.btn-disbaled {
  opacity: 0.3;
}
.shade-Channel {
  box-shadow: 1px 1px 10px 4px #00000014 !important;
}
.shade-card {
  box-shadow: 1px 1px 6px 2px #00000017;
}
.shade {
  box-shadow: 1px 1px 10px 4px #00000036 !important;
}
.ant-table-wrapper {
  overflow: auto;
}
.w-fit {
  width: fit-content;
}
table {
  table-layout: auto;
  overflow-x: scroll;
}
.ant-table-thead > tr > th {
  color: #262e80 !important;
  font-weight: bold !important;
  font-size: 17px;
}
.ant-table-tbody > tr > td {
  font-weight: 500 !important;
}
.ant-table-tbody > tr > td:nth-child(2) {
  color: #262e80 !important;
}
.ant-table-tbody > tr > td:nth-child(2) {
  color: #262e80 !important;
}
.w-title {
  white-space: nowrap;
  font-size: 17px;
  font-weight: 500;
  color: #020202;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 462px;
}

.ant-table-tbody > tr > td:nth-child(8) {
  color: rgb(101, 173, 101) !important;
  font-size: 18px;
  font-weight: 500;
}

.ant-table-tbody > tr > td:nth-child(6),
.ant-table-tbody > tr > td:nth-child(7),
.ant-table-tbody > tr > td:nth-child(9),
.ant-table-tbody > tr > td:nth-child(10),
.ant-table-tbody > tr > td:nth-child(11) {
  color: #262e80 !important;
  font-size: 18px;
  font-weight: 500;
}

.ant-table-tbody > tr > td:nth-child(3),
.ant-table-tbody > tr > td:nth-child(4) {
  color: #5763de !important;
  font-size: 18px;
  font-weight: 500;
}
/* .ant-table-tbody > tr > td:nth-child(4) {
  text-decoration: underline;
} */
.drop-down {
  width: 23vw;
}
.h-80vh {
  height: 80vh;
}
.h-15p {
  height: 15px;
}
.next-fix {
  position: fixed;
  bottom: 4%;
  right: 14%;
}
@media (min-width: 1025px) {
  .text-xl-center {
    text-align: center;
  }
  .MuiContainer-maxWidthLg {
    height: 100vh !important;
    align-items: center;
    display: flex !important;
  }
}
@media (max-width: 1370px) {
  .h-resp-65 {
    min-height: 65vh !important;
  }
}
@media (max-width: 768px) {
  .mb-no-shade {
    box-shadow: none !important;
  }
  .next-fix {
    position: fixed;
    bottom: 1%;
    right: 3%;
  }
  .text-mb-right {
    text-align: right !important;
  }
}
@media (max-width: 600px) {
  .filter-white {
    filter: brightness(0) invert(1);
  }
  .text-sm-white {
    color: white !important;
  }
  .bg-sm-purple {
    background: #5e69db !important;
  }
  .sale-tag {
    position: absolute;
    bottom: -4%;
    width: fit-content;
    left: 23%;
  }
  .w-res-100 {
    width: 100%;
  }
  .panel-platform {
    height: 50px !important;
  }
  .MuiContainer-root {
    padding: 0 !important;
  }
  .drop-down {
    width: 60vw;
  }
  .border-right {
    border: none !important;
  }
  .ant-layout-content {
    padding: 10px !important;
  }
}
@media (min-width: 766px) {
  .text-md-left {
    text-align: left !important;
  }
  .h-md-100 {
    height: 100%;
  }
}

/* MAIN CSS */
.hgr-progress .ant-progress {
  width: 370px !important;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

.py-1px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  position: unset !important;
  top: 50%;
  right: 0;
  width: 1px;
  height: 1.6em;
  background-color: rgba(0, 0, 0, 0.06);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: "";
}

.ant-table-thead > tr > th {
  position: relative;
  color: var(--color-262E80) !important ;
  font-weight: bold !important ;
  font-size: 18px !important;
  text-align: left;
  background: unset !important ;
  /* border-bottom: 1px solid #f0f0f0; */
  /* transition: background 0.3s ease; */
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  position: relative;
  padding: 11px 16px !important ;
  overflow-wrap: break-word;
}

/* .drop-down_effect {
  background: #fbfbfb !important ;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.16)) !important ;
  border-radius: 10px;
} */
