body {
  font-weight: 500;
  font-family: var(--mainFontFamily);
}

.fs-14 {
  font-size: var(--font-14);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: var(--color-white) !important;
  background-color: var(--color-primary) !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .ant-menu-title-content {
  font-weight: bold;
  color: var(--navLinkActive);
}
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child .ant-menu-title-content {
  color: var(--subnavLinkActive);
  font-weight: 500;
}
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child .ant-menu-title-content:hover {
  color: var(--subnavLinkHover);
  font-weight: 500;
}

.ant-menu-item.ant-menu-item-active:hover {
  color: var(--color-white) !important;
  background-color: var(--color-primary) !important;
}
.ant-menu-item.ant-menu-item-active:hover .ant-menu-title-content {
  font-weight: bold;
  color: var(--color-white) !important;
}
.ant-menu-submenu.ant-menu-submenu-active:hover {
  color: var(--color-white) !important;
  background-color: var(--color-primary) !important;
}
.ant-menu-submenu.ant-menu-submenu-active:hover .ant-menu-submenu-arrow {
  color: var(--color-white) !important;
}
.ant-menu-item.ant-menu-item-active:hover .listing-btn {
  font-weight: 700 !important;
}

.ant-menu-submenu.ant-menu-submenu-active:hover .ant-menu-submenu-title .ant-menu-title-content {
  color: var(--color-white) !important;
}
.ant-menu-item.ant-menu-item-active.ant-menu-item-only-child:hover {
  color: unset !important;
  background-color: unset !important;
}
/* .ant-menu-item.ant-menu-item-only-child .ant-menu-title-content {
  color: black !important;
} */

/* HOVER SVG  */

.ant-menu-submenu.ant-menu-submenu-active:hover svg circle {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover svg circle {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover svg #Path_10 {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover .help-icon ellipse {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover .setting-icon path {
  fill: var(--color-white);
}

.ant-menu-submenu.ant-menu-submenu-active:hover .help-icon #Path_13 {
  stroke: var(--color-white);
}
.ant-menu-submenu.ant-menu-submenu-active:hover .help-icon line {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .list-now-icon circle {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .list-now-icon line {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .dashboard-icon rect {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .listing-icon line {
  stroke: var(--color-white);
}
.ant-menu-item.ant-menu-item-active:hover .catalog-icon #Path_6,
.ant-menu-item.ant-menu-item-active:hover .catalog-icon #Path_5,
.ant-menu-item.ant-menu-item-active:hover .catalog-icon line {
  stroke: var(--color-white);
}

.ant-menu-item .ant-menu-title-content {
  margin: 0 !important;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: unset !important;
  color: black !important;
}
/* HOVER LIST ITEMS  */
/* .ant-menu-item:hover {
  color: var(--color-white) !important;
  font-size: var(--font-18) !important;
  background-color: var(--color-primary) !important ;
} */
/* .ant-menu-submenu-title:hover {
  color: var(--color-white) !important;
  font-size: var(--font-18) !important;
  background-color: var(--color-primary) !important ;
}
.ant-menu-submenu-title:hover path circle {
  stroke: white !important;
} */

/* .ant-layout-sider-collapsed
  .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  width: 30px;
  min-width: 30px;
  margin: auto;
  border-radius: 10px;
} */

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .active-white-svg {
  filter: brightness(100);
}

.c-262e80 {
  color: var(--color-dark-violet);
}

.ff-used {
  font-family: var(--mainFontFamily);
}

.TopBar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-family: var(--mainFontFamily);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  background-color: var(--bgHighlight) !important;
}

@media (max-width: 1180px) {
  /* .hgr-progress > * {
    display: flex;
    box-sizing:content-box;
  } */

  .TopBar {
    justify-content: none !important;
  }
  .hgr-progress > :nth-child(-n + 1),
  .hgr-progress > :nth-child(3) {
    position: absolute;
    left: -10000px;
  }

  .quota-head {
    display: none;
  }
}

.searchBarButtonContainer button {
  white-space: nowrap;
}

@media (max-width: 1100px) {
  .searchBarButtonContainer button {
    font-size: 0.85rem !important;
  }
}

.quota-head {
  font-size: var(--font-18);
  color: var(--color-dark-violet);
  font-weight: bold;
}

.quota-price {
  font-size: var(--font-16);
  font-weight: normal;
  color: var(--color-dark-violet);
}
.Update-btn {
  background-color: var(--color-dark-violet);
  font-size: var(--font-18);
  font-weight: bold;
  color: var(--color-white);
}

.Update-btn:hover {
  color: var(--color-white) !important;
  background-color: var(--color-dark-violet);
  opacity: 0.8;
}

.fs-18 {
  font-size: var(--font-18);
}

.bg-c4c4c4 {
  background: #c4c4c4;
}

.fw-500 {
  font-weight: 500;
}

.fw-bold {
  font-weight: bold;
}

.searchBar {
  height: var(--searchbarHeight);
  align-items: center;
  border-radius: 10px !important;
}

.search_placeholder::placeholder {
  font-size: var(--font-18);
  color: var(--color-black);
  font-weight: 500;
  opacity: 0.2;
}

.c-000 {
  color: var(--color-black);
}

.search_placeholder input {
  font-size: var(--font-18);
  color: var(--color-black);
  font-weight: 500;
}

.input-focus-none:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.bg-5e69db {
  background-color: var(--color-primary);
}

.foucs-none:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

/* DROPDOWN CSS  */
.add-new-channel-drop {
  width: 180.58px;
  height: 19.81px;
  background: var(--color-white);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.16));
}
.nav-dropdown .ant-menu {
  background: transparent !important;
  margin-left: 400px;
  width: 277.8px;
}
.w-304 {
  width: 304px;
}
.nav-dropdown .drop-down {
  background: #fbfbfb !important;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important; */
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important;
  border-radius: 0px 0px 10px 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 244.56px;
}
.drop-search-input {
  padding: 5px 6px;
  border-radius: 10px;
  background: var(--color-white);
  border: 0;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.search-icon-input {
  position: absolute;
  right: 12px;
  top: 12px;
}
.drop-search-input input {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.322) !important;
}

.add-new-channel-drop {
  width: 70%;
  background: var(--color-white);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.16));
  border-radius: 10px;
  padding: 12.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-new-channel-drop p {
  font-size: 11px;
  display: inline-block;
  color: var(--color-black);
}
.fw-700 {
  font-weight: 700;
}
.bg-light-blue {
  background: rgba(94, 132, 219, 0.05);
}
/* .ant-menu-submenu-title ul {
  background-color: red;
} */

/* .sidebar_element {
  color: var(--color-dark-violet);
  font-size: var(--font-18);
  font-weight: bold;
} */

.lav_button_shadow {
  border-radius: 10px;
  background: #fbfbfb;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}
.lav_button_shadow .ant-btn {
  background: #fbfbfb !important;
  box-shadow: none;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: unset !important;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}
.z-10 {
  z-index: 10;
}
.ant-table-selection-extra {
  z-index: 0;
}
/* .ant-layout-sider:hover {
  flex: 0 0 260px !important;
  max-width: 260px !important;
  min-width: 260px !important;
  width: 260px !important;
} */

@media (min-width: 1400px) {
  /* .ant-layout-sider:hover {
    flex: 0 0 367px !important;
    max-width: 367px !important;
    min-width: 367px !important;
    width: 367px !important;
  } */
  /* .w-sidebar-toggle .ant-layout-sider {
    flex: 0 0 367px !important;
    max-width: 367px !important;
    min-width: 367px !important;
    width: 367px !important;
  } */
}
.listing-tabs span {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-dark-violet);
}
.listing-tabs {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-dark-violet);
}
.bg-f2f8ff {
  background: #f2f8ff;
}
.border-left-tab {
  width: 1.5px;
  display: inline-block;
  background-color: var(--color-dark-violet);
}
.logout-icon {
  /* padding-right: 17px;
   */
  padding-bottom: 17px;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-light-pink);
  cursor: pointer;
}
.logout-icon .d-none-icon {
  padding-right: 17px;
}
.logout-icon:hover span {
  color: var(--color-dark-pink);
}
.logout-icon:hover #Path_18,
.logout-icon:hover #Path_19 {
  stroke: var(--color-dark-pink);
}

.active-items-num {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.advance-search-hover {
  transition: 0.3s ease;
}
.advance-search-hover:hover {
  background: #b0aeae;
}
.view-columns-hover {
  transition: 0.3s ease;
}
.view-columns-hover:hover {
  background-color: #7572f7;
}
.z-0 {
  z-index: 0;
}
.ant-pagination.ant-table-pagination {
  display: none !important;
}
.pagination-number {
  display: inline-block;
  font-size: 18px;
  color: var(--color-dark-violet);
  cursor: pointer;
  font-weight: 400;
  width: 25px;
  transition: 0.2s ease;
}
.pagination-number:hover {
  font-weight: 500 !important;
}
.active-left-icon {
  background-color: var(--color-primary) !important;
}
.active-left-icon::before {
  color: var(--color-white) !important;
}
/* 
.w-sidebar-toggle .logout-icon {
  display: none;
} 
*/
.cursor-pointer {
  cursor: pointer;
}
.ant-layout-sider-collapsed .d-none-icon {
  display: none;
}
.list-items-hover:hover svg circle {
  fill: var(--color-primary);
}
.list-items-hover:hover {
  color: var(--subnavLinkHover);
}
.fw-400 {
  font-weight: 400;
}
.h-25 {
  height: 25px !important;
}
.leading-25 {
  line-height: 25px !important;
}
.ant-menu-item.ant-menu-item-only-child {
  height: 25px !important;

  line-height: 25px !important;
}
.ant-menu.ant-menu-sub {
  background-color: var(--color-light-violet);
}

.ant-menu-item .ant-menu-title-content {
  padding-left: 26px;
}
.ant-menu-submenu-title .ant-menu-title-content {
  padding-left: 26px;
}
.ant-menu.ant-menu-sub {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ant-menu-title-content {
  font-weight: 400;
}
.nav-shadow {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.header-box-shadow {
  box-shadow: 0px 3px 6px var(--box-shadow-color);
}

.position-stickey {
  position: sticky;
}
.top-0 {
  top: 0;
}
.z-100 {
  z-index: 100;
}
@media (min-width: 1400px) {
  .w-xxl-251px {
    width: 251px;
  }
}

/* CHECKBOX CSS  */
.input-blue-check input[type='checkbox'] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

.input-blue-check input[type='checkbox'] {
  display: none;
}

.input-blue-check input[type='checkbox'] + label:before {
  content: '\2714';
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

.input-blue-check input[type='checkbox'] + label:active:before {
  transform: scale(0);
}

.input-blue-check input[type='checkbox']:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

/* CHECKBOX CSS  */
/* APP CSS  */

body {
  font-weight: 500;
  font-family: var(--mainFontFamily);
}
.blue {
  color: #5e84db;
}
.bg-lighter {
  background-color: #f0f2f5;
}

label {
  width: 100%;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 15px 13px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #39418b;
}

.card-input-flag:checked + .card-input {
  box-shadow: 0 0 1px 4px #39418b85;
}

.invert {
  filter: invert(1);
}
.w-sidebar-toggle {
  width: var(--siderWidth);
  z-index: 1;
  /* height: 100vh; */
  overflow-x: visible;
}
.br-8 {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
.br-15 {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.border-primary {
  border-color: var(--color-dark-violet) !important;
}
.bg-input-light {
  background-color: #f2f8ff;
}
.bg-blue {
  background-color: #5e84db;
}
.d-blue {
  color: var(--color-dark-violet);
}
.bg-d-blue {
  background-color: var(--color-dark-violet);
}
button:focus {
  outline: none !important;
}
.purple {
  color: var(--color-violet-shade-2);
}

.d-purple {
  color: var(--color-violet-shade-3);
}
.bg-d-purple {
  background-color: var(--color-violet-shade-3);
}
.bg-purple {
  background-color: var(--color-violet-shade-2);
}
.pink {
  color: var(--color-light-pink);
}
.bg-pink {
  background-color: var(--color-light-pink);
}
.green {
  color: var(--color-light-green);
}
.bg-green {
  background-color: var(--color-light-green);
}
.d-green {
  color: var(--color-dark-green);
}
.bg-d-green {
  background-color: var(--color-dark-green);
}
.bg-trans {
  background: transparent !important;
}
.lh-1 {
  line-height: 1 !important;
}
.ant-layout-content {
  padding-left: 1.3% !important;
  padding-right: 1.3% !important;
  padding-top: 0.9% !important;
}
.yellow {
  color: yellow;
}
.ant-input-group-addon,
.ant-input-affix-wrapper,
button {
  border: 0 !important;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: none !important;
}
.w-fit {
  width: fit-content;
}
.btn-disbaled {
  opacity: 0.3;
}
.shade-Channel {
  box-shadow: 1px 1px 10px 4px #00000014 !important;
}
.shade-card {
  box-shadow: 1px 1px 6px 2px #00000017;
}
.shade {
  box-shadow: 1px 1px 10px 4px #00000036 !important;
}
.ant-table-wrapper {
  overflow: auto;
}
.w-fit {
  width: fit-content;
}
table {
  table-layout: auto;
  overflow-x: scroll;
}
.ant-table-thead > tr > th {
  color: var(--color-dark-violet) !important;
  font-weight: bold !important;
  font-size: 17px;
}
.ant-table-tbody > tr > td {
  font-weight: 400 !important;
}
.ant-table-tbody > tr > td:nth-child(2) {
  color: var(--color-dark-violet) !important;
}
.ant-table-tbody > tr > td:nth-child(2) {
  color: var(--color-dark-violet) !important;
}
.w-title {
  white-space: nowrap;
  font-size: 17px;
  font-weight: 500;
  color: #020202;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 462px;
}

.ant-table-tbody > tr > td:nth-child(8) {
  color: rgb(101, 173, 101) !important;
  font-size: 18px;
  font-weight: 500;
}

.ant-table-tbody > tr > td:nth-child(6),
.ant-table-tbody > tr > td:nth-child(7),
.ant-table-tbody > tr > td:nth-child(9),
.ant-table-tbody > tr > td:nth-child(10),
.ant-table-tbody > tr > td:nth-child(11) {
  color: var(--color-dark-violet) !important;
  font-size: 18px;
  font-weight: 500;
}

.ant-table-tbody > tr > td:nth-child(3),
.ant-table-tbody > tr > td:nth-child(4) {
  color: var(--color-violet-shade-1) !important;
  font-size: 18px;
  font-weight: 500;
}
/* .ant-table-tbody > tr > td:nth-child(4) {
  text-decoration: underline;
} */
/* .drop-down {
  width: 23vw;
} */

.h-80vh {
  height: 80vh;
}
.h-15p {
  height: 15px;
}
.next-fix {
  position: fixed;
  bottom: 4%;
  right: 14%;
}
@media (min-width: 1025px) {
  .text-xl-center {
    text-align: center;
  }
  .MuiContainer-maxWidthLg {
    height: 100vh !important;
    align-items: center;
    display: flex !important;
  }
}
@media (max-width: 1025px) {
  .h-resp-65 {
    min-height: 65vh !important;
  }
}
@media (max-width: 768px) {
  .mb-no-shade {
    box-shadow: none !important;
  }
  .next-fix {
    position: fixed;
    bottom: 1%;
    right: 3%;
  }
  .text-mb-right {
    text-align: right !important;
  }
}
@media (max-width: 600px) {
  .filter-white {
    filter: brightness(0) invert(1);
  }
  .text-sm-white {
    color: var(--color-white) !important;
  }
  .bg-sm-purple {
    background: var(--color-primary) !important;
  }
  .sale-tag {
    position: absolute;
    bottom: -4%;
    width: fit-content;
    left: 23%;
  }
  .w-res-100 {
    width: 100%;
  }
  .panel-platform {
    height: 50px !important;
  }
  .MuiContainer-root {
    padding: 0 !important;
  }
  .drop-down {
    width: 60vw;
  }
  .border-right {
    border: none !important;
  }
  .ant-layout-content {
    padding: 10px !important;
  }
}
@media (min-width: 766px) {
  .text-md-left {
    text-align: left !important;
  }
  .h-md-100 {
    height: 100%;
  }
}

/* MAIN CSS */
.hgr-progress .ant-progress {
  width: 370px !important;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

.py-1px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  position: unset !important;
  top: 50%;
  right: 0;
  width: 1px;
  height: 1.6em;
  background-color: rgba(0, 0, 0, 0.06);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: '';
}

.ant-table-thead > tr > th {
  position: relative;
  color: var(--color-262E80) !important ;
  font-weight: bold !important ;
  font-size: 18px !important;
  text-align: left;
  background: unset !important ;
  /* border-bottom: 1px solid #f0f0f0; */
  /* transition: background 0.3s ease; */
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  position: relative;
  padding: 11px 16px !important ;
  overflow-wrap: break-word;
}
/* APP CSS  */
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background: transparent;
}
.ant-menu-item.ant-menu-item-only-child {
  padding-left: 45px !important;
}

/* SIDEBAR OVERFLOW  */
.ant-menu.ant-menu-root {
  overflow-x: hidden;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.ant-menu-root::-webkit-scrollbar {
  width: 0em;
}
.ant-layout {
  height: calc(100vh - 80px);
  overflow: auto;
}
.h-100vh {
  height: 100vh;
}
.arrow-icon-sidebar {
  width: 30.02px;
  height: 30.02px;
  border-radius: 8px;
  background: #5e69db;
  display: flex;
  justify-content: center;
  align-items: center;
}
.br-8 {
  border-radius: 8px !important;
}
.w-30_02 {
  width: 30.02px !important;
}
.h-30_02 {
  height: 30.02px !important;
}
.activeButton {
  background-color: var(--color-primary);
}
.focus-none:focus {
  outline: 0;
  box-shadow: none;
}
.overflow-visible {
  overflow: visible;
}
/* .ant-menu-root::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.ant-menu-root::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} 

.min-width-150 {
  min-width: 150px;
}
.min-width-170 {
  min-width: 170px;
}
.min-width-230 {
  min-width: 230px;
}
.min-width-250 {
  min-width: 250px;
}
*/
.overflow-x-auto {
  overflow: auto;
}
.select-custom {
  font-weight: normal;
  font-size: var(--font-16);
  color: var(--color-dark-violet);
}
.table-head {
  font-size: var(--font-18);
  color: var(--color-dark-violet);
  font-weight: bold;
}
.table-body-style {
  font-size: var(--font-18);
  color: var(--color-violet-shade-1);
  font-weight: normal;
}
.table-body-title {
  font-weight: 500;
  font-size: var(--font-18);
  color: var(--color-darkscale);
}
.table-body-sell {
  font-weight: 500;
  font-size: var(--font-18);
  color: var(--color-dark-violet);
  cursor: pointer;
}
.table-body-sell:hover {
  color: #0013d4;
  font-weight: 600;
}
.table-body-profit {
  font-weight: 500;
  font-size: var(--font-18);
  color: var(--color-dark-green);
}

.pagination-number {
  font-weight: 500;
  font-size: var(--font-18);
  color: var(--color-dark-violet);
  cursor: pointer;
}
.pagination-number:hover {
  color: #0013d4;
  font-weight: 600;
}
.border-bottom-body {
  border-bottom: 1px solid var(--borderColor);
}
.check-click-text {
  font-size: var(--font-16);
  color: var(--color-dark-violet);
  font-weight: normal;
}
.fw-600 {
  font-weight: 600;
}
.border-left-dark-voilet {
  border-right: 2px solid var(--color-dark-violet);
}
.br-15 {
  border-radius: 15px;
}
.w-30px {
  width: 30px;
}
@media (min-width: 1600px) {
  .box-width {
    width: 25%;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .box-width {
    width: 35%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .box-width {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .box-width {
    width: 60%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .box-width {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .box-width {
    width: 100%;
  }
}
/* MEDIA QUERY  */
@media (max-width: 1599.98px) {
  .hgr-progress .ant-progress {
    width: 250px !important;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
  }

  :root {
    /* FONT VARIALBES */
    --font-18: var(--font-large);
    --font-16: var(--font-medium);
    --font-14: var(--font-small);
  }
}

@media (min-width: 1600px) {
  .w-xxxl-304 {
    width: 304px;
  }
  .nav-dropdown .ant-menu {
    width: 304.2px;
  }
  .nav-dropdown .drop-down {
    width: 304.2px;
  }
  .drop-down {
    right: 0px !important;
    position: absolute;
  }
}
.missingTranslation {
  color: var(--errorTxt);
  font-size: var(--font-small);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  10% {
    opacity: 0;
  }
}
.ant-menu-item.ant-menu-item-selected .orders-icon-sidebar circle,
.ant-menu-item.ant-menu-item-selected .orders-icon-sidebar path {
  stroke: var(--bgPage);
}
.ant-menu-item.ant-menu-item-active .orders-icon-sidebar circle,
.ant-menu-item.ant-menu-item-active .orders-icon-sidebar path {
  stroke: var(--bgPage);
}

/* ORDERS STYLE  */
.advance-search-purple-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-violet-shade-2);
  color: var(--color-white);
  border-radius: 8px;
  padding: 10px 40px;
  width: 350px;
  height: 58px;
  transition: 0.3s ease;
}
.advance-search-purple-button:hover {
  background-color: var(--color-violet-shade-3);
  color: var(--color-white);
}

.process-5-order-btn {
  background-color: var(--bgBlue);
  height: 43px;
  padding: 10px 40px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
}

.process-5-order-btn:hover {
  background-color: #3a66ce;
  color: var(--bgPage);
}
.stop-5-order-btn {
  background-color: var(--color-light-orange);
  height: 43px;
  padding: 10px 40px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
}
.stop-5-order-btn:hover {
  background-color: #df9c4f;
  color: var(--bgPage);
}

.delete-5-order-btn {
  background-color: var(--bg-dark-pink);
  height: 43px;
  padding: 10px 40px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
}

.delete-5-order-btn:hover {
  background-color: #c20648;
  color: var(--bgPage);
}

.mark-dispatch-btn {
  background-color: var(--color-dark-green);
  height: 43px;
  padding: 10px 40px;
  border-radius: 10px;
  color: var(--bgPage);
  font-size: var(--font-medium);
  font-weight: bold;
}

.mark-dispatch-btn:hover {
  background-color: #198319;
  color: var(--bgPage);
}

/* .mark-dispatch-btn:hover circle,
.mark-dispatch-btn:hover path {
  stroke: white;
} */

/* table css */

.order-table-head {
  color: var(--color-dark-violet);
  white-space: nowrap;
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: white;
  font-size: var(--font-large) !important;
}

.order-table {
  background-color: var(--color-fff);
  border-bottom: 1px solid #dedede !important;
}

.order-table-body {
  white-space: nowrap;
}

.obj-sale-body {
  color: var(--color-violet-shade-1);
  font-size: var(--font-large) !important;
  font-weight: normal;
}

.obj-sale-title {
  color: var(--avery-bg);
  font-size: var(--font-small);
  font-weight: 500;
}

.obj-sale-qty {
  color: var(--color-dark-violet);
  font-size: var(--font-large) !important;
  font-weight: normal;
}
.obj-sale-cost {
  color: var(--color-dark-violet);
  font-size: var(--font-large) !important;
  font-weight: bold;
}

.obj-profit-text {
  font-size: var(--font-large);
  font-weight: normal;
  color: var(--color-dark-green);
}

/* table css ends here */

.orders-table-main {
  background-color: var(--bgPage);
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 10px;
}

.back-to-supplier-heading {
  color: #262e80;
  font-size: var(--font-large);
  font-weight: bold;
  cursor: pointer;
}

.beta-bg {
  background-color: var(--bgPage);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.beta-bg h2 {
  color: var(--bgBlue);
  font-weight: bold;
  font-size: 29px;
}

.beta-bg span {
  font-weight: 400;
  font-size: var(--font-xl);
  color: var(--color-grey);
}
.bg-light-blue {
  background-color: var(--bg-light-skyblue);
}
.auto-ordering-heading-text {
  font-weight: bold;
  font-size: var(--sub-heading);
  color: black;
  font-weight: bold;
}

.auto-ordering-heading-text span {
  color: #5e84db;
}
.auto-ordering-section {
  background-color: var(--bgPage);
  border-radius: 10px;
  padding: 25px;
}
.reset-to-default-btn {
  background-color: var(--color-grey-shade-1);
  color: var(--bgPage);
  width: 217px;
  height: 59px;
  font-size: var(--font-large);
  border-radius: 8px;
  font-weight: bold;
}

.reset-to-default-btn:hover {
  background-color: #b0aeae;
  color: var(--bgPage);
}
.save-changes-btn {
  background-color: var(--color-dark-green);
  color: var(--bgPage);
  width: 217px;
  height: 59px;
  font-size: var(--font-large);
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s ease;
}
.save-changes-btn:hover {
  background-color: var(--color-light-green);
  color: var(--bgPage);
}

.enable-disable-para p {
  font-weight: bold;
  font-size: var(--font-large);
  color: var(--color-black);
  margin-bottom: 0px;
}
.enable-disable-para span {
  font-weight: 400;
  font-size: var(--font-extra-small);
  color: var(--color-black);
  opacity: 0.4;
}
.acc-config-text {
  font-weight: bold;
  font-size: var(--font-xl);
  color: var(--color-black);
}

.acc-config-text span {
  color: var(--bgBlue);
}

.amazonlogin-input-style {
  padding: 9px 12px;
  width: 100%;
  height: 42px;
  border-radius: 10px;
  background-color: var(--bgInputLight) !important;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: var(--font-medium);
  color: rgba(0, 0, 0, 0.247) !important;
}

.amazonlogin-input-style::placeholder {
  color: rgba(0, 0, 0, 0.247) !important;
}
.otp-code-input-styles {
  padding: 9px 12px;
  width: 100%;
  height: 42px;
  border-radius: 10px;
  background-color: var(--bgInputLight) !important;
  border: 0;
  outline: none;
  font-weight: 400;
  font-size: var(--font-medium);
  color: var(--txtHighlight);
}

.otp-code-input-styles::placeholder {
  color: var(--txtHighlight) !important;
}

.account-input-style {
  padding: 9px 12px;
  width: 100%;
  height: 42px;
  border-radius: 10px;
  background-color: var(--bgInputLight) !important;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: var(--font-medium);
  color: var(--txtBaseColor);
}

.account-label-style {
  font-weight: bold;
  font-size: var(--font-medium);
  color: var(--txtBaseColor);
  margin-bottom: 15px;
  margin-top: 15px;
}

.account-input-style:focus-visible {
  outline: none;
}

.remove-account-div {
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 31px;
  border-radius: 10px;
  font-weight: bold;
  font-size: var(--font-large);
  text-align: left;
  color: #dd0a54;
  background: #fff1f1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
}

.remove-account-div:hover {
  background: #fae9e9;
}

.dark-pink-para {
  font-weight: 400;
  font-size: 12px;
  color: #dd0a54;
  max-width: 370px;
}
.obtain-code-otp {
  font-weight: 500;
  font-size: var(--font-small);
  color: #5e69db;
}

@media (min-width: 576px) {
  .acc-input-parent {
    width: 255px;
  }
  .width-466 {
    width: 466px;
  }
  .width-207 {
    width: 207px;
  }
}
/* TOGGLE  ICON STYLE */

.switch-toggle {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 50px;
}

.switch-toggle input {
  display: none;
}

.slider-toggle {
  background-color: #c4c4c4;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider-toggle:before {
  background-color: white;
  top: 50%;
  content: '';
  height: 26px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  transform: translateY(-50%);
}

.input-toggle-switch:checked + .slider-toggle {
  background: #5e69db;
}

.input-toggle-switch:checked + .slider-toggle:before {
  transform: translate(18px, -50%);
  background-color: white;
}

.slider-toggle.round {
  border-radius: 34px;
}

.slider-toggle.round:before {
  border-radius: 50%;
}

.custom-switch .custom-control-label::after {
  background-color: #212529 !important;
}
.custom-control-label::before {
  background-color: #adb5bd !important;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem transparent !important;
  border-color: transparent !important;
}

/* TOGGLE  ICON STYLE */

.head-part-one {
  color: var(--color-dark-violet);
  font-size: 24px;
}
.head-part-second {
  background: #228b22 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  color: var(--color-white);
  font-size: 12px;
  padding: 5px;
}
.width-80 {
  width: 80%;
}
.shop-address {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
.content-shop-address {
  padding-bottom: 0px !important;
  font-size: 12px;
  color: rgba(62, 62, 62, 0.44);
}
.ship-bill-box {
  background: rgba(250, 252, 255, 1) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}
.sale-head {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
.channel-item {
  font-size: var(--font-18);
  color: #000;
}
.modals-inputs .form-control:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}
.modals-inputs .form-control {
  background-color: #f2f8ff !important;

  border-radius: 10px;
}
.w-82 {
  width: 82px;
}
.w-179 {
  width: 179px;
}
.mright-15 {
  margin-right: 15px;
}
.modal-page .modal-header {
  border-bottom: none !important;
}
.modal-head-box {
  padding-right: 0px;
}
.edit-btnn {
  color: #5e84db;
  font-size: 12px;
}
/* MODAL CSS END */ ;
