body {
  font-weight: 500;
  font-family: var(--mainFontFamily);
}

.fs-14 {
  font-size: var(--font-14);
}

/* HOVER LIST ITEMS  */
/* .ant-menu-item:hover {
  color: var(--color-white) !important;
  font-size: var(--font-18) !important;
  background-color: var(--color-primary) !important ;
} */
/* .ant-menu-submenu-title:hover {
  color: var(--color-white) !important;
  font-size: var(--font-18) !important;
  background-color: var(--color-primary) !important ;
}
.ant-menu-submenu-title:hover path circle {
  stroke: white !important;
} */

/* .ant-layout-sider-collapsed
  .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  width: 30px;
  min-width: 30px;
  margin: auto;
  border-radius: 10px;
} */

.c-262e80 {
  color: var(--color-dark-violet);
}

.ff-used {
  font-family: var(--mainFontFamily);
}

.searchBarButtonContainer button {
  white-space: nowrap;
}

@media (max-width: 1100px) {
  .searchBarButtonContainer button {
    font-size: 0.85rem !important;
  }
}

.fs-18 {
  font-size: var(--font-18);
}

.bg-c4c4c4 {
  background: #c4c4c4;
}

.fw-500 {
  font-weight: 500;
}

.fw-bold {
  font-weight: bold;
}

.searchBar {
  height: var(--searchbarHeight);
  align-items: center;
  border-radius: 10px !important;
}

.search_placeholder::placeholder {
  font-size: var(--font-18);
  color: var(--color-black);
  font-weight: 500;
  opacity: 0.2;
}

.c-000 {
  color: var(--color-black);
}

.search_placeholder input {
  font-size: var(--font-18);
  color: var(--color-black);
  font-weight: 500;
}

.input-focus-none:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.bg-5e69db {
  background-color: var(--color-primary);
}

.foucs-none:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

/* DROPDOWN CSS  */
.add-new-channel-drop {
  width: 180.58px;
  height: 19.81px;
  background: var(--color-white);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.16));
}

.nav-dropdown .ant-menu {
  background: transparent !important;
  margin-left: 400px;
  width: 277.8px;
}

.w-304 {
  width: 304px;
}

.nav-dropdown .drop-down {
  background: var(--bgWhiteLightColor) !important;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important; */
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important;
  border-radius: 0px 0px 10px 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 244.56px;
}

.drop-search-input {
  padding: 5px 6px;
  border-radius: 10px;
  background: var(--color-white);
  border: 0;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.search-icon-input {
  position: absolute;
  right: 12px;
  top: 12px;
}

.drop-search-input input {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.322) !important;
}

.add-new-channel-drop {
  width: 70%;
  background: var(--color-white);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.16));
  border-radius: 10px;
  padding: 12.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-new-channel-drop p {
  font-size: 11px;
  display: inline-block;
  color: var(--color-black);
}

.fw-700 {
  font-weight: 700;
}

.bg-light-blue {
  background: rgba(94, 132, 219, 0.05);
}

/* .ant-menu-submenu-title ul {
  background-color: red;
} */

/* .sidebar_element {
  color: var(--color-dark-violet);
  font-size: var(--font-18);
  font-weight: bold;
} */

.lav_button_shadow {
  border-radius: 10px;
  background: var(--bgWhiteLightColor);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.lav_button_shadow .ant-btn {
  background: var(--bgWhiteLightColor) !important;
  box-shadow: none;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: unset !important;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}

.z-10 {
  z-index: 10;
}

.ant-table-selection-extra {
  z-index: 0;
}

.listing-tabs span {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-dark-violet);
}

.listing-tabs {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-dark-violet);
}

.bg-f2f8ff {
  background: #f2f8ff;
}

.border-left-tab {
  width: 1.5px;
  display: inline-block;
  background-color: var(--color-dark-violet);
}

.logout-icon {
  /* padding-right: 17px;
   */
  padding-bottom: 17px;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-light-pink);
  cursor: pointer;
}

.logout-icon .d-none-icon {
  padding-right: 17px;
}

.logout-icon:hover span {
  color: var(--color-dark-pink);
}

.logout-icon:hover #Path_18,
.logout-icon:hover #Path_19 {
  stroke: var(--color-dark-pink);
}

.active-items-num {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.active-text-black {
  font-weight: bold;
  font-size: 10px;
  text-align: left;
}

.advance-search-hover {
  transition: 0.3s ease;
}

.advance-search-hover:hover {
  background: #b0aeae;
}

.view-columns-hover {
  transition: 0.3s ease;
}

.view-columns-hover:hover {
  background-color: #7572f7;
}

.z-0 {
  z-index: 0;
}

.ant-pagination.ant-table-pagination {
  display: none !important;
}

.pagination-number {
  display: inline-block;
  font-size: 18px;
  color: var(--color-dark-violet);
  cursor: pointer;
  font-weight: 400;
  width: 25px;
  transition: 0.2s ease;
}

.pagination-number:hover {
  font-weight: 500 !important;
}

.active-left-icon {
  background-color: var(--color-primary) !important;
}

.active-left-icon::before {
  color: var(--color-white) !important;
}

/* 
.w-sidebar-toggle .logout-icon {
  display: none;
} 
*/
.cursor-pointer {
  cursor: pointer;
}

.ant-layout-sider-collapsed .d-none-icon {
  display: none;
}

.list-items-hover:hover svg circle {
  fill: var(--color-primary);
}

.list-items-hover:hover {
  color: var(--subnavLinkHover);
}

.fw-400 {
  font-weight: 400;
}

.h-25 {
  height: 25px !important;
}

.leading-25 {
  line-height: 25px !important;
}

.ant-menu-item.ant-menu-item-only-child {
  height: 25px !important;

  line-height: 25px !important;
}

.ant-menu.ant-menu-sub {
  background-color: var(--color-light-violet);
}

.ant-menu-item .ant-menu-title-content {
  padding-left: 26px;
}

.ant-menu-submenu-title .ant-menu-title-content {
  padding-left: 26px;
}

.ant-menu.ant-menu-sub {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-menu-title-content {
  font-weight: 400;
}

.nav-shadow {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.header-box-shadow {
  box-shadow: 0px 3px 6px var(--box-shadow-color);
}

.position-stickey {
  position: sticky;
}

.top-0 {
  top: 0;
}

.z-100 {
  z-index: 100;
}

@media (min-width: 1400px) {
  .w-xxl-251px {
    width: 251px;
  }
}

/* CHECKBOX CSS  */
.input-blue-check input[type='checkbox'] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

.input-blue-check input[type='checkbox'] {
  display: none;
}

.input-blue-check input[type='checkbox'] + label:before {
  content: '\2714';
  border: 0.1em solid var(--txtBaseColor);
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

.input-blue-check input[type='checkbox'] + label:active:before {
  transform: scale(0);
}

.input-blue-check input[type='checkbox']:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: var(--bgHighlight);
}

/* CHECKBOX CSS  */
/* APP CSS  */

body {
  font-weight: 500;
  font-family: var(--mainFontFamily);
}

.blue {
  color: var(--bgBlue);
}

.bg-lighter {
  background-color: #f0f2f5;
}

label {
  width: 100%;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 15px 13px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #39418b;
}

.card-input-flag:checked + .card-input {
  box-shadow: 0 0 1px 4px #39418b85;
}

.invert {
  filter: invert(1);
}

.w-sidebar-toggle {
  width: var(--siderWidth);
  z-index: 1;
  /* height: 100vh; */
  overflow-x: visible;
}

@media (max-width: 991.98px) {
  .w-sidebar-toggle {
    width: 0;
  }

  .ant-layout-sider {
    position: fixed;
  }

  .w-sidebar-toggle .ant-layout-sider {
    min-width: 0px !important;
    max-width: 0px !important;
    width: 0px !important;
  }

  .mobile-sidebar-on.w-sidebar-toggle .ant-layout-sider {
    /* min-width: 250px !important;
    max-width: 250px !important;
    width: 250px !important; */
  }
}

.br-8 {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.br-15 {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}

.border-primary {
  border-color: var(--color-dark-violet) !important;
}

.bg-input-light {
  background-color: #f2f8ff;
}

.bg-blue {
  background-color: var(--bgBlue);
}

.d-blue {
  color: var(--color-dark-violet);
}

.bg-d-blue {
  background-color: var(--color-dark-violet);
}

button:focus {
  outline: none !important;
}

.purple {
  color: var(--color-violet-shade-2);
}

.d-purple {
  color: var(--color-violet-shade-3);
}

.bg-d-purple {
  background-color: var(--color-violet-shade-3);
}

.bg-purple {
  background-color: var(--color-violet-shade-2);
}

.pink {
  color: var(--color-light-pink);
}

.bg-pink {
  background-color: var(--color-light-pink);
}

.green {
  color: var(--color-light-green);
}

.bg-green {
  background-color: var(--color-light-green);
}

.d-green {
  color: var(--color-dark-green);
}

.bg-d-green {
  background-color: var(--color-dark-green);
}

.bg-trans {
  background: transparent !important;
}

.lh-1 {
  line-height: 1 !important;
}

.ant-layout-content {
  padding-left: 1.3% !important;
  padding-right: 1.3% !important;
  padding-top: 0.9% !important;
}

.yellow {
  color: yellow;
}

.ant-input-group-addon,
.ant-input-affix-wrapper,
button {
  border: 0 !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: none !important;
}

.w-fit {
  width: fit-content;
}

.btn-disbaled {
  opacity: 0.3;
}

.shade-Channel {
  box-shadow: 1px 1px 10px 4px #00000014 !important;
}

.shade-card {
  box-shadow: 1px 1px 6px 2px #00000017;
}

.shade {
  box-shadow: 1px 1px 10px 4px #00000036 !important;
}

.ant-table-wrapper {
  overflow: auto;
}

.w-fit {
  width: fit-content;
}

table {
  table-layout: auto;
  overflow-x: scroll;
}

.ant-table-thead > tr > th {
  color: var(--color-dark-violet) !important;
  font-weight: bold !important;
  font-size: 17px;
}

.ant-table-tbody > tr > td {
  font-weight: 400 !important;
}

.ant-table-tbody > tr > td:nth-child(2) {
  color: var(--color-dark-violet) !important;
}

.ant-table-tbody > tr > td:nth-child(2) {
  color: var(--color-dark-violet) !important;
}

.w-title {
  white-space: nowrap;
  font-size: 17px;
  font-weight: 500;
  color: #020202;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 462px;
}

.ant-table-tbody > tr > td:nth-child(8) {
  color: rgb(101, 173, 101) !important;
  font-size: 18px;
  font-weight: 500;
}

.ant-table-tbody > tr > td:nth-child(6),
.ant-table-tbody > tr > td:nth-child(7),
.ant-table-tbody > tr > td:nth-child(9),
.ant-table-tbody > tr > td:nth-child(10),
.ant-table-tbody > tr > td:nth-child(11) {
  color: var(--color-dark-violet) !important;
  font-size: 18px;
  font-weight: 500;
}

.ant-table-tbody > tr > td:nth-child(3),
.ant-table-tbody > tr > td:nth-child(4) {
  color: var(--color-violet-shade-1) !important;
  font-size: 18px;
  font-weight: 500;
}

/* .ant-table-tbody > tr > td:nth-child(4) {
  text-decoration: underline;
} */
/* .drop-down {
  width: 23vw;
} */

.h-80vh {
  height: 80vh;
}

.h-15p {
  height: 15px;
}

.next-fix {
  position: fixed;
  bottom: 4%;
  right: 14%;
}

@media (min-width: 1025px) {
  .text-xl-center {
    text-align: center;
  }

  .MuiContainer-maxWidthLg {
    height: 100vh !important;
    align-items: center;
    display: flex !important;
  }
}

@media (max-width: 1025px) {
  .h-resp-65 {
    min-height: 65vh !important;
  }
}

@media (max-width: 768px) {
  .mb-no-shade {
    box-shadow: none !important;
  }

  .next-fix {
    position: fixed;
    bottom: 1%;
    right: 3%;
  }

  .text-mb-right {
    text-align: right !important;
  }
}

@media (max-width: 600px) {
  .filter-white {
    filter: brightness(0) invert(1);
  }

  .text-sm-white {
    color: var(--color-white) !important;
  }

  .bg-sm-purple {
    background: var(--color-primary) !important;
  }

  .sale-tag {
    position: absolute;
    bottom: -4%;
    width: fit-content;
    left: 23%;
  }

  .w-res-100 {
    width: 100%;
  }

  .panel-platform {
    height: 50px !important;
  }

  .MuiContainer-root {
    padding: 0 !important;
  }

  .drop-down {
    width: 60vw;
  }

  .border-right {
    border: none !important;
  }

  .ant-layout-content {
    padding: 10px !important;
  }
}

@media (min-width: 766px) {
  .text-md-left {
    text-align: left !important;
  }

  .h-md-100 {
    height: 100%;
  }
}

/* MAIN CSS */
.hgr-progress .ant-progress {
  width: 370px !important;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

.py-1px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  position: unset !important;
  top: 50%;
  right: 0;
  width: 1px;
  height: 1.6em;
  background-color: rgba(0, 0, 0, 0.06);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: '';
}

.ant-table-thead > tr > th {
  position: relative;
  color: var(--color-262E80) !important;
  font-weight: bold !important;
  font-size: 18px !important;
  text-align: left;
  background: unset !important;
  /* border-bottom: 1px solid #f0f0f0; */
  /* transition: background 0.3s ease; */
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  position: relative;
  padding: 11px 16px !important;
  overflow-wrap: break-word;
}

/* APP CSS  */
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background: transparent;
}

.ant-menu-item.ant-menu-item-only-child {
  padding-left: 45px !important;
}

/* SIDEBAR OVERFLOW  */
.ant-menu.ant-menu-root {
  overflow-x: hidden;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.ant-menu-root::-webkit-scrollbar {
  width: 0em;
}

.ant-layout {
  height: calc(100vh - 80px);
  overflow: auto;
}

.h-100vh {
  height: 100vh;
}

.arrow-icon-sidebar {
  width: 30.02px;
  height: 30.02px;
  border-radius: 8px;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.br-8 {
  border-radius: 8px !important;
}

.w-30_02 {
  width: 30.02px !important;
}

.h-30_02 {
  height: 30.02px !important;
}

.activeButton {
  background-color: var(--color-primary);
}

.focus-none:focus {
  outline: 0;
  box-shadow: none;
}

.overflow-visible {
  overflow: visible;
}

/* .ant-menu-root::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.ant-menu-root::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} 

.min-width-150 {
  min-width: 150px;
}
.min-width-170 {
  min-width: 170px;
}
.min-width-230 {
  min-width: 230px;
}
.min-width-250 {
  min-width: 250px;
}
*/
.overflow-x-auto {
  overflow: auto;
}

.select-custom {
  font-weight: normal;
  font-size: var(--font-16);
  color: var(--color-dark-violet);
}

.table-head {
  font-size: var(--font-18);
  color: var(--color-dark-violet);
  font-weight: bold;
}

.table-body-style {
  font-size: var(--font-18);
  color: var(--color-violet-shade-1);
  font-weight: normal;
}

.table-body-title {
  font-weight: 500;
  font-size: var(--font-18);
  color: var(--color-darkscale);
}

.table-body-sell {
  font-weight: 500;
  font-size: var(--font-18);
  color: var(--color-dark-violet);
  cursor: pointer;
}

.table-body-sell:hover {
  color: #0013d4;
  font-weight: 600;
}

.table-body-profit {
  font-weight: 500;
  font-size: var(--font-18);
  color: var(--color-dark-green);
}

.pagination-number {
  font-weight: 500;
  font-size: var(--font-18);
  color: var(--color-dark-violet);
  cursor: pointer;
}

.pagination-number:hover {
  color: #0013d4;
  font-weight: 600;
}

.border-bottom-body {
  border-bottom: 1px solid var(--borderColor);
}

.check-click-text {
  font-size: var(--font-16);
  color: var(--color-dark-violet);
  font-weight: normal;
}

.fw-600 {
  font-weight: 600;
}

.border-left-dark-voilet {
  border-right: 2px solid var(--color-dark-violet);
}

.br-15 {
  border-radius: 15px;
}

.w-30px {
  width: 30px;
}

@media (min-width: 1600px) {
  .box-width {
    width: 25%;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .box-width {
    width: 35%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .box-width {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .box-width {
    width: 60%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .box-width {
    width: 80%;
  }
}

/* new media query */
@media (min-width: 1600px) {
  .w-xxxl-304 {
    width: 304px;
  }

  .nav-dropdown .ant-menu {
    width: 304.2px;
  }

  .nav-dropdown .drop-down {
    width: 304.2px;
  }

  .drop-down {
    right: 0px !important;
    position: absolute;
  }
}

@media (min-width: 992.9px) {
  .table-order-responsive {
    width: calc(100vw - 290px) !important;
  }

  .table-with-open-sidebar {
    width: calc(100vw - 120px) !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .advance-search-purple-button {
    height: 50px !important;
    width: 285px !important;
  }
}

@media (max-width: 576px) {
  .advance-search-purple-button {
    height: 50px !important;
    width: 100% !important;
    padding: 10px 30px !important;
  }
}

/* MEDIA QUERY  */
@media (max-width: 1599.98px) {
  .hgr-progress .ant-progress {
    width: 250px !important;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
  }

  :root {
    /* FONT VARIALBES */
    --font-18: var(--font-large);
    --font-16: var(--font-medium);
    --font-14: var(--font-small);
  }
}

.missingTranslation {
  color: var(--errorTxt);
  font-size: var(--font-small);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  10% {
    opacity: 0;
  }
}

.orders-icon-sidebar > * {
  stroke: var(--iconColor);
}

.setting-icon > path:first-child {
  display: block;
}

.ant-menu-item.ant-menu-item-selected .orders-icon-sidebar circle,
.ant-menu-item.ant-menu-item-selected .orders-icon-sidebar path {
  stroke: var(--bgPage);
}

.ant-menu-item.ant-menu-item-active .orders-icon-sidebar circle,
.ant-menu-item.ant-menu-item-active .orders-icon-sidebar path {
  stroke: var(--bgPage);
}

/* ORDERS STYLE  */
.advance-search-purple-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-violet-shade-2);
  color: var(--color-white);
  border-radius: 8px;
  padding: 10px 40px;
  width: 350px;
  height: 58px;
  transition: 0.3s ease;
}

.advance-search-purple-button:hover {
  background-color: var(--color-violet-shade-3);
  color: var(--color-white);
}

/* ends here */

/* table css */

.order-table {
  background-color: var(--color-fff);
  border-bottom: 1px solid #dedede !important;
}

.obj-sale-body {
  color: var(--color-violet-shade-1);
  font-size: var(--font-large) !important;
  font-weight: normal;
}

.obj-state-text {
  color: var(--color-fff);
  font-size: var(--font-small);
  font-weight: bold;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table td,
.table th {
  vertical-align: unset !important;
}

.obj-sale-title {
  color: var(--avery-bg);
  font-size: var(--font-small);
  font-weight: 500;
}

.obj-sale-qty {
  color: var(--color-dark-violet);
  font-size: var(--font-large) !important;
  font-weight: normal;
}

.obj-sale-cost {
  color: var(--color-dark-violet);
  font-size: var(--font-large) !important;
  font-weight: bold;
}

.obj-profit-text {
  font-size: var(--font-large);
  font-weight: normal;
  color: var(--color-dark-green);
}

.bg-dark-pink {
  background-color: var(--bg-dark-pink);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-color-light-orange {
  background-color: var(--color-light-orange);
}

.bg-color-dark-green {
  background-color: var(--color-dark-green);
}

/* table css ends here */

.bg-light-blue {
  background-color: var(--bg-light-skyblue);
}

.reset-to-default-btn {
  background-color: var(--color-grey-shade-1);
  color: var(--bgPage);
  width: 217px;
  height: 59px;
  font-size: var(--font-large);
  border-radius: 8px;
  font-weight: bold;
  padding: 5px 8px;
}

.reset-to-default-btn:hover {
  background-color: #b0aeae;
  color: var(--bgPage);
}

.save-changes-btn {
  background-color: var(--color-dark-green);
  color: var(--bgPage);
  width: 217px;
  height: 59px;
  font-size: var(--font-large);
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s ease;
  padding: 5px 8px;
}

.save-changes-btn:hover {
  background-color: var(--color-light-green);
  color: var(--bgPage);
}

.enable-disable-para p {
  font-weight: bold;
  font-size: var(--font-large);
  color: var(--color-black);
  margin-bottom: 0px;
}

.enable-disable-para span {
  display: inline-block;
  max-width: 364px;
  font-weight: 400;
  font-size: var(--font-extra-small);
  color: var(--color-black);
  opacity: 0.4;
}

.acc-config-text {
  font-weight: bold;
  font-size: var(--font-xl);
  color: var(--color-black);
}

.acc-config-text span {
  color: var(--bgBlue);
}

.otp-code-input-styles {
  padding: 9px 12px;
  width: 100%;
  height: 42px;
  border-radius: 10px;
  background-color: var(--bgInputLight) !important;
  border: 0;
  outline: none;
  font-weight: 400;
  font-size: var(--font-medium);
  color: var(--txtHighlight);
}

.otp-code-input-styles::placeholder {
  color: var(--txtHighlight) !important;
}

.account-input-style {
  padding: 9px 12px;
  width: 100%;
  height: 42px;
  border-radius: 10px;
  background-color: var(--bgInputLight) !important;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: var(--font-medium);
  color: var(--txtBaseColor);
}

.remove-account-div {
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 31px;
  border-radius: 10px;
  font-weight: bold;
  font-size: var(--font-large);
  text-align: left;
  color: #dd0a54;
  background: #fff1f1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
}

.remove-account-div:hover {
  background: #fae9e9;
}

.dark-pink-para {
  font-weight: 400;
  font-size: var(--font-extra-small);
  color: #dd0a54;
  max-width: 370px;
}

.obtain-code-otp {
  font-weight: 500;
  font-size: var(--font-small);
  color: var(--color-primary);
}

.width-466 {
  width: 466px;
}

.width-207 {
  width: 207px;
}

/* TOGGLE  ICON STYLE */

.switch-toggle {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 50px;
}

.switch-toggle input {
  display: none;
}

.slider-toggle {
  background-color: #c4c4c4;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider-toggle:before {
  background-color: var(--bgHighlight);
  top: 50%;
  content: '';
  height: 26px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  transform: translateY(-50%);
}

.input-toggle-switch:checked + .slider-toggle {
  background: var(--color-primary);
}

.input-toggle-switch:checked + .slider-toggle:before {
  transform: translate(18px, -50%);
  background-color: var(--bgHighlight);
}

.slider-toggle.round {
  border-radius: 34px;
}

.slider-toggle.round:before {
  border-radius: 50%;
}

.custom-switch .custom-control-label::after {
  background-color: #212529 !important;
}

.custom-control-label::before {
  background-color: #adb5bd !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem transparent !important;
  border-color: transparent !important;
}

/* REACT SELECT */
.css-1s2u09g-control {
  width: 219.47px;
  height: 62px;
  border-radius: 8px !important;
  background: var(--bgHighlight);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border: 0;
  border-color: transparent;
}

/* TOGGLE  ICON STYLE */

.ao-enabled-button {
  background-color: var(--color-dark-green);
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 10px;
  color: var(--bgHighlight);
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ao-enabled-button:hover {
  background-color: #148614;
  color: var(--bgHighlight);
}

.ao-disabled-button {
  background-color: #9a9a9a;
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 10px;
  color: var(--bgHighlight);
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ao-disabled-button:hover {
  background-color: #9a9a9a;
  color: var(--bgHighlight);
}

.h-blue-line {
  margin: 7px 0;
  width: 1.8px;
  height: 70px;
  background-color: rgba(22, 73, 151, 0.98);
}

.order-step-heading h4 {
  font-weight: 600;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.98);
}

.order-step-heading p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.98);
  opacity: 0.48;
}

.order-step-heading span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.98);
}

.bg-InputLight {
  background-color: var(--bgInputLight);
}

.br-10 {
  border-radius: 10px;
}

.setting-source-config-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fafcff !important;
  width: 100%;
}

.config-auto-ordering-beta-btn {
  width: 319px;
  height: 48px;
  border-radius: 10px;
  background: var(--bgBlue);
  font-weight: bold;
  font-size: 16px;
  color: var(--color-white);
  transition: 0.3s ease;
}

.config-auto-ordering-beta-btn:hover {
  background: #517feb;
  color: var(--color-white);
}

.config-auto-ordering-beta-btn svg > * {
  stroke: var(--bgHighlight);
}

.config-supply-btn {
  width: 195px;
  height: 48px;
  border-radius: 10px;
  background: var(--color-violet-shade-2);
  font-weight: bold;
  font-size: 16px;
  color: var(--color-white);
}

.config-supply-btn:hover {
  background: #8987f5;
  color: var(--color-white);
}

.ao-disabled-btn-style {
  width: 137px;
  background: #9a9a9a;
  font-weight: bold;
  font-size: var(--font-extra-small);
  color: var(--bgHighlight);
}

.source-table {
  border-bottom: 1px solid #dedede !important;
}

.btn-state-style {
  width: 137px;
  cursor: pointer;
}

.btn-state-style:hover {
  color: var(--bgHighlight);
}

.source-table-head {
  background-color: #fafcff;

  color: var(--color-dark-violet);
  white-space: nowrap;
  font-weight: bold;
  position: sticky;
  top: 0;
  font-size: var(--font-large) !important;
}

.shipping-policy-text {
  font-weight: normal;
  font-size: 14px;
  color: var(--color-dark-violet);
}

.table-disable-button {
  width: 117px;
  height: 27px;
  border-radius: 10px;
  background: #9a9a9a;
  font-weight: bold;
  font-size: 12px;
  color: var(--bgHighlight);
}

.table-enabled-button {
  width: 117px;
  height: 27px;
  border-radius: 10px;
  background: var(--bgBlue) !important;
  font-weight: bold;
  font-size: 12px;
  color: var(--bgHighlight);
}

.table-coming-soon-button {
  width: 137px;
  height: 27px;
  border-radius: 10px;
  background: #aec7ff !important;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  color: var(--bgHighlight);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SOURCE SETTNG  */

/* ORDER STATE PROGRESS  */

.head-part-one {
  color: var(--color-dark-violet);
  font-size: 24px;
}

.head-part-second {
  background: var(--color-dark-green);
  border-radius: 10px;
  opacity: 1;
  color: var(--color-white);
  font-size: 12px;
  width: 137px;
  height: 27px;
}

.width-80 {
  width: 80%;
}

.shop-address {
  font-size: var(--font-18);
  color: #000;
  font-weight: 700;
}

.content-shop-address {
  padding-bottom: 0px !important;
  font-size: 12px;
  color: rgba(62, 62, 62, 0.44);
}

.ship-bill-box {
  background: rgba(250, 252, 255, 1);
  border-radius: 8px;
  opacity: 1;
}
.bg-light-skyBlue {
  background: rgba(250, 252, 255, 1);
}
.sale-head {
  font-size: var(--font-18);
  color: var(--txtBaseColor);
  font-weight: 700;
}

.sold-head {
  font-size: var(--font-18);
  color: #9a9a9a;
  font-weight: 700;
}

.channel-item {
  font-size: var(--font-18);
  color: var(--txtBaseColor);
}

.modals-inputs .form-control:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

.source-url {
  font-size: var(--font-18);
  color: var(--txtBaseColor);
  font-weight: 700;
}

.modals-inputs .form-control {
  background-color: #f2f8ff !important;

  border-radius: 10px;
  border: none;
  height: 42px;
  font-size: 15px;
  font-weight: 700;
}

.w-76 {
  width: 76px;
}

.w-82 {
  width: 82px;
}

.w-179 {
  width: 179px;
}

.mright-15 {
  margin-right: 15px;
}

.modal-page .modal-header {
  border-bottom: none !important;
}

.modal-head-box {
  padding-right: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.edit-btnn {
  color: var(--bgBlue);
  font-size: 12px;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

/* MODAL CSS END */

/* MEDIA  QUERY */

.h-27 {
  height: 27px;
}

/* MODAL SECOND CSS START */
.cross-round-iconModal {
  position: absolute;
  right: 5px;
  top: 5px;
}

.amazon-order-ss {
  width: 566px;
  height: 414px;
}

.progress-order .progress-bar {
  /* background-color: var(--color-dark-green); */
  width: 436px;
  border-radius: 9.5px;
  background: linear-gradient(
    var(--color-dark-green) 0%,
    var(--color-dark-green) 15.85%,
    #3aa23a 67.04%,
    var(--color-dark-green) 100%
  );
}

.progress-order .progress {
  border-radius: 9.5px;
}

.progress-order {
  font-weight: bold;
  font-size: 18px;
  color: var(--color-dark-violet);
}

.history-text {
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.98);
  opacity: 0.33;
}

.view-full-vlog-text {
  font-weight: 400;
  font-size: 16px;
  color: rgba(22, 73, 151, 0.98);
  cursor: pointer;
}

.modal-second-inputs .form-control {
  background-color: #f2f8ff !important;
  border-radius: 10px;
  border: none;
  height: 42px;
  width: 207px;
}

.modal-second-input-heads {
  font-size: var(--font-16);
  font-weight: 500;
}

.disabled-btn {
  cursor: none;
  opacity: 0.4;
}

.save-btnn-modal {
  padding: 10px;
  background: var(--color-dark-green);
  border-radius: 10px;
  border: 2px solid var(--color-dark-green) !important;
  opacity: 1;
  color: var(--bgHighlight);
  font-size: var(--font-18);
  font-weight: 700;
}

.save-btnn-modal:hover {
  background-color: transparent;
  color: var(--color-dark-green);
  border: 2px solid var(--color-dark-green) !important;
}

.modal-second-head {
  border-bottom: none;
  padding: 0px;
}

.btnn-in-model {
  background-color: transparent !important;
  color: var(--color-dark-violet);
}

.btnn-in-model:focus {
  border: 0px solid transparent;
  box-shadow: none;
}

.middle-part-autoordering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 485px;
}

.middle-part-autoordering p {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: var(--color-dark-violet);
  max-width: 572px;
  margin-bottom: 30px;
}

.middle-part-autoordering button {
  width: 316px;
  height: 59px;
  border-radius: 10px;
  background: var(--bgBlue);
  color: var(--bgHighlight);
}

.middle-part-autoordering button:hover {
  background: #4f77d4;
  color: var(--bgHighlight);
}

.order-details-back-text {
  font-weight: bold;
  font-size: 18px;
  color: var(--color-dark-violet);
}

@media (max-width: 575.98px) {
  .advance-search-purple-button {
    padding: 10px 40px;
    width: 280px;
    height: 42px;
    transition: 0.3s ease;
  }

  .save-changes-btn {
    width: unset;
    height: unset;
  }

  .reset-to-default-btn {
    width: unset;
    height: unset;
  }

  .dark-pink-para {
    max-width: 231px;
  }

  .width-466 {
    width: 277px;
  }

  .width-207 {
    width: 190px;
  }
}

@media (max-width: 1199.98px) {
  .amazon-order-ss {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  .width-100 {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .config-auto-ordering-beta-btn {
    width: 100%;
  }

  .config-supply-btn {
    width: 100%;
  }
}

/* MODAL CSS END */
/* RAVI-SIR-CSS */
.save-changes-btn:focus {
  box-shadow: none;
}

.reset-to-default-btn:focus {
  box-shadow: none;
}

.modal-second-inputs .form-control:focus {
  box-shadow: none;
}

.ao-enabled-button:focus {
  box-shadow: none;
}

/* ORDER SVG COLOR  */
.Update-btn:focus {
  box-shadow: none;
}

.advance-search-purple-button:focus {
  box-shadow: none;
}

.advance-search-hover:focus {
  box-shadow: none;
}

.view-columns-hover:focus {
  box-shadow: none;
}

.order-details-model-btnn:focus {
  box-shadow: none;
}

.all-the-setting-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--inputColor);
  margin-top: 5px;
}

/* ORDER SVG COLOR  */

/* POP OVER  */

.popover__title {
  font-size: 12px;
  color: var(--bgHighlight);
  background-color: var(--color-grey);
  border: none;
  border-radius: 10px;
  padding: 0px 25px;
}

.pop-over-content {
  background-color: var(--color-grey-shade_1);
  color: var(--bgHighlight);
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-popover-inner-content {
  padding: 0;
}

.ant-popover-arrow-content {
  background-color: var(--color-grey-shade_1);
}

.popover__wrapper {
  position: relative;
  display: inline-block;
  border-radius: 30px;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 135px;
  top: 18px;
  transform: translate(0, 10px);
  background-color: var(--color-grey-shade_1);
  color: var(--bgHighlight);
  padding: 7px 8px;
  width: auto;
  border-radius: 5px;
  font-size: 12px;
}

.popover__content:before {
  position: absolute;
  z-index: -1;
  content: '';
  right: calc(50% - -31px);
  top: 7px;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent var(--color-grey-shade_1) transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: rotate(270deg);
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.w-15per {
  width: 15%;
}

.w-12per {
  width: 12%;
}

.primary-scrollbar::-webkit-scrollbar {
  width: 0px;
  background-color: var(--bgHighlight);
  border-radius: 6px;
}

.primary-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.primary-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  outline: 1px solid var(--color-primary);
  border-radius: 6px;
}

.overlay-select {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.01);
  width: 100%;
  height: 100%;
}

.left-back-arrow-svg svg:hover path {
  stroke: #262e80;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.rotating:hover path {
  stroke: black;
}

.disabled-order-svg {
  stroke: #c3c4c7;
}

.disabled-line {
  background-color: #7e7373;
  margin: 7px 0;
  width: 1.8px;
  height: 70px;
}

.start-order-active-svg svg circle,
.start-order-active-svg g #Path_311,
.start-order-active-svg g #Path_310 {
  stroke: #262e80;
}

.order-checkout-icon rect,
.order-checkout-icon line {
  stroke: #262e80;
}
.last-step-order-icon #Path_315 {
  fill: #262e80;
}
@media (max-width: 576px) {
  .box-width {
    width: 100%;
  }
  .btn-state-style {
    width: 100px;
  }
  .obj-state-text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
